<template>
  <PlaceholderImage :width="1" :height="1" alt="Photo thumbnail placeholder" />
</template>

<script>
import PlaceholderImage from "../PlaceholderImage";

export default {
  components: {
    PlaceholderImage,
  },
};
</script>
