# IDE files
.idea/

# Unnecessary data
.git/
docs/
logs/

# Sensitive data
*.bak
*.db
*.json
!jsconfig.json
!package.json
!package-lock.json
*.log
*.pgsql
*.rdb

# Media files
media/

# Compiled files
__pycache__/
.pytest_cache/
.sass-cache/
static/*.js
static/images/
static.1/

# Libraries
node_modules/
