DJANGO_DEBUG=false
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_USE_LOCAL_STORAGE=false

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

SPACES_ACCESS_KEY=
SPACES_SECRET_KEY=
SPACES_REGION_NAME=
SPACES_ENDPOINT=
SPACES_BUCKET_NAME=
SPACES_PATH_PREFIX=
