# IDE files
.idea/

# Sensitive data
cache/
data/
temp/
*.db
*.bak
*.pgsql

# Media files
media/
media_test/
*.psd

# macOS metadata
.DS_Store

# Compiled files
__pycache__/
.sass-cache/
static.1/
*.css
*.css.map

# Libraries
static/lib/

# Migrations (until a stable version is released)
photos/migrations/

# Log files
*.log
*.rdb
