{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "parser": "vue",
  "printWidth": 80,
  "quoteProps": "consistent",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": false
}
