[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
Django = ">=2.0"
ExifRead = "*"
Pillow = "*"
django-storages = "*"
invoke = "*"
boto3 = "==1.9.5"
lxml = "*"
celery = {version = "*", extras = ["redis"]}
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.6"
