[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-xmp-toolkit = "*"
pytz = "*"
Django = ">=2.0"
ExifRead = "*"
Pillow = "*"
django-storages = "*"
invoke = "*"

[dev-packages]

[requires]
python_version = "3.6"
