<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}

  <title>{% block title %}{% if title %}{{ title }} | {% endif %}{{ TITLE }}{% endblock %}</title>
  <meta name="author" content="{{ NAME }}">
  <meta name="description" content="{{ DESCRIPTION }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0078ff">
{% if meta %}{{ meta|safe }}{% endif %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.0/min/dropzone.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.0/min/dropzone.min.js" defer></script>

  <link rel="shortcut icon" href="{% static 'favicon.png' %}">

  <script defer data-domain="gallery.doktortakes.photos" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
  {% block content %}{% endblock %}
  <div id="app"></div>

  {% load render_bundle from webpack_loader %}
  {% render_bundle 'main' attrs='defer' %}
</body>
</html>
