{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="photo-wall">
  {% for photo in photos %}
  <div class="photo-wall-item">
    <a href="{% url 'photo' photo.path photo.md5 %}">
      <img src="{{ photo.square_thumbnail.url }}">
    </a>
  </div>
  {% endfor %}
</section>
{% endblock %}
