@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300&display=swap');

/* Mixins */

@mixin clearfix() {
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

@mixin fade() {
  img {
    filter: brightness(1.0);
  }

  &:hover img {
    filter: brightness(0.8);
  }

  img, &:hover img {
    transition: filter 0.2s ease-in-out;
  }
}

@mixin fade($t: opacity 0.2s ease-in-out) {
  -webkit-transition: $t;
  -moz-transition: $t;
  -o-transition: $t;
  -ms-transition: $t;
  transition: $t;
}

/* Primary colors */

$borderColor: rgb(200, 200, 200);
$text: rgb(220, 220, 220);
$blue: rgb(0, 120, 255);

/* Typefaces */

@mixin logo-font() {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -0.02rem;
}

@mixin headings-font() {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

@mixin secondary-headings-font() {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

@mixin text-font() {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
}
