@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300&display=swap');

/* Mixins */

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

@mixin fade() {
  img {
    filter: brightness(1.0);
  }

  &:hover img {
    filter: brightness(0.8);
  }

  img, &:hover img {
    transition: filter 0.2s ease-in-out;
  }
}

@mixin fade($t: opacity 0.2s ease-in-out) {
  -webkit-transition: $t;
  -moz-transition: $t;
  -o-transition: $t;
  -ms-transition: $t;
  transition: $t;
}

/* Primary colors */

$text-color: rgb(40, 40, 40);
$text-color-2: rgb(120, 120, 120);
$text-blue: rgb(0, 120, 255);
$text-error: orangered;
$background-color: rgb(255, 255, 255);
$background-color-2: rgb(235, 235, 235);
$background-color-3: rgb(215, 215, 215);
$background-color-4: rgb(195, 195, 195);
$background-color-5: rgb(175, 175, 175);

/* Typefaces */

@mixin logo-font() {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -0.02rem;
}

@mixin headings-font() {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

@mixin secondary-headings-font() {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

@mixin text-font() {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* Navlinks */
$nav-font-size: 1.5rem;
$nav-font-size-index: $nav-font-size * 1.25;
$nav-logo-size: 2.25rem;

$nav-item-spacing: 1.7rem;

/* Other */

$itemSpacing: 0.3rem;
