@use "sass:math";
@import "variables";

// Top-level elements

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection,
*::-moz-selection {
  background-color: $text-blue;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  @include text-font();
  color: $text-color;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;

  margin: 0 auto;
  background-color: $background-color;

  width: 90%;
  max-width: 90%;

  @media (min-width: 901px) {
    width: 95%;
    max-width: 95%;
  }
}

// Headers and footers

@mixin headers($scale) {
  h1 {
    font-size: pow($scale, 4) * 1rem;
  }
  h2 {
    font-size: pow($scale, 3) * 1rem;
  }
  h3 {
    font-size: pow($scale, 2) * 1rem;
  }
  h4 {
    font-size: pow($scale, 1) * 1rem;
  }
  h5 {
    font-size: pow($scale, 0) * 1rem;
  }
  h6 {
    font-size: pow($scale, -1) * 1rem;
  }
}

@media (max-width: 900px) {
  @include headers(1.33);
}

@media (min-width: 901px) {
  @include headers(1.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings-font();
  margin: 0.5rem 0;
  text-transform: lowercase;
}

header {
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: $text-color-2;
}

header,
footer {
  text-align: center;
}

// Other elements

a {
  color: $text-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
}

hr {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid gray;
  height: 1px;
}

img {
  display: block;
}

nav,
pre,
section {
  margin: 1rem 0;
}

@media (max-width: 600px) {
  nav {
    text-align: center;
  }
}

ol,
ul {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

/* Generic classes */

// Index page tagline
.tagline {
  @include headings-font();
  color: $text-color;
  font-size: 1.6rem;
  font-weight: 400;

  margin: 1rem 0;
  width: 100%;
}

.hidden {
  display: none !important;
}

.note {
  color: $text-color-2;
  font-style: italic;
}

/* Button: "view more" */

.view-more {
  margin: 1rem (-$itemSpacing);
}

.view-more-wrapper {
  padding: $itemSpacing;

  @media (min-width: 901px) {
    width: math.div(100%, 3);
    margin-left: math.div(100%, 3);
  }
}

.view-more-link {
  display: block;

  @include headings-font();
  line-height: 1;

  border: 1px solid $text-blue;
  padding: 1rem;

  &:hover {
    background-color: $text-blue;
    color: $text-color;
    text-decoration: none;
  }

  &,
  &:hover {
    transition: 0.2s background-color, 0.2s color;
  }
}

/* Forms */

$form-border-radius: 4px;
$form-font-size: 1.3rem;

// Margin above/below input elements
$inputMargin: 5px;

form {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 1rem;
  border-radius: $form-border-radius;

  background-color: $background-color-2;
}

.form--1-column {
  flex-direction: column;
  align-items: center;
}

.form--2-columns {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;

  .form-column {
    width: 100%;
    margin: 0;
  }

  fieldset {
    padding: 1rem;
    border: 1px solid $background-color-3;
    border-radius: $form-border-radius;
  }

  @media (min-width: 901px) {
    .form-column {
      width: 50%;
    }

    .form-column-1 {
      padding-right: 0.5rem;
    }

    .form-column-2 {
      padding-left: 0.5rem;
    }
  }
}

fieldset {
  display: block;

  width: 100%;

  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 1rem;
}

legend {
  padding: 0 0.5rem;
  margin-left: -0.5rem;
  margin-bottom: 0.5rem;

  @include headings-font();
  text-transform: lowercase;
  text-align: center;
  line-height: 1;
  font-size: 150%;
  font-weight: 700;
}

textarea {
  display: block;
}

input,
textarea {
  background-color: $background-color-3;
  border: 1px solid $background-color-4;
  border-radius: $form-border-radius;
  color: $text-color;

  &:active,
  &:focus {
    border: 1px solid $text-blue;
  }
}

input:disabled {
  background-color: $background-color;
  border-color: $background-color;

  cursor: not-allowed;
}

input[type="date"],
input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px 10px;

  font-size: $form-font-size;
  line-height: 1;
}

label {
  display: block;

  width: 100%;
  margin-bottom: 0.5rem;

  font-size: $form-font-size;
  line-height: 1;
  font-weight: bold;
  text-align: left;
}

.field-wrapper {
  display: flex;
  justify-content: start;
}

.form-control-options {
  display: flex;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
    visibility: hidden;

    // Change the appearance of the label to a button
    & + label {
      flex-basis: 100%;

      padding: 12px 0;
      margin: 0;

      background: $background-color-3;
      border: 1px solid $background-color-4;
      color: $text-color;

      font-weight: normal;
      text-align: center;

      // First choice
      &:first-of-type {
        border-radius: $form-border-radius 0 0 $form-border-radius;
      }

      // Middle choices
      &:not(:last-child) {
        border-right: 0;
      }

      // Last choice
      &:last-of-type {
        border-radius: 0 $form-border-radius $form-border-radius 0;
      }
    }

    &:checked + label {
      background: $text-blue;
      border-color: $text-blue;
      color: white;
    }
  }
}

.form--small {
  max-width: 600px;
  margin: 0 auto;
}

.form-control {
  margin-bottom: 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-link-action {
  text-align: right;
  margin-top: 0.2rem;
}

.form-note {
  width: 100%;
  margin-top: $inputMargin;

  font-size: 80%;
}

.form-error {
  margin-top: 5px;

  color: $text-error;
  font-size: 80%;
}

.field--invalid {
  border: 1px solid $text-error;
}

// Form: buttons

.form-buttons {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.form-button {
  display: block;

  width: 110px;
  padding: 12px 0;
  border: 0;
  border-radius: $form-border-radius;

  background-color: $text-color;
  color: $background-color;

  text-align: center;
  line-height: 1;

  cursor: pointer;

  &:hover {
    background-color: lighten($text-color, 15%);
  }

  &,
  &:hover {
    text-decoration: none;
    transition: background-color 0.3s;
  }

  &-primary {
    background-color: $text-blue;
    color: white;

    &:hover {
      background-color: lighten($text-blue, 15%);
    }
  }

  &-secondary {
    //
  }
}

// Form: range inputs

$separator-width: 5%;

.form-control-range-input {
  display: flex;

  input,
  select,
  textarea {
    width: math.div(100% - $separator-width, 2);
  }
}

.form-control-range-input-separator {
  width: $separator-width;

  text-align: center;
}

/* Photos */

$photoWidth: 300px;

.photos {
  display: flex;
  flex-wrap: wrap;

  margin: $itemSpacing (-$itemSpacing);
}

.photo-wrapper {
  padding: $itemSpacing;

  @media (max-width: $photoWidth * 1) {
    width: 100%;
  }
  @for $i from 1 through 4 {
    @media (min-width: $photoWidth * ($i) + 1) and (max-width: $photoWidth * ($i + 1)) {
      width: math.div(100%, $i + 1); // 50%, 33%, 25%, 20%
    }
  }
  @media (min-width: $photoWidth * 5 + 1) {
    width: math.div(100%, 6);
  }

  &.empty {
    padding: 0;
  }

  &.selected img {
    filter: brightness(0.3);
  }

  @include fade();
}

.photo {
  img {
    width: 100%;
  }
}

.photo-placeholder {
  position: relative;
}

.photo-skeleton {
  border: 1px solid $background-color-2;
}

.photo-no-thumbnail-note {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

/* Albums */

$albumWidth: 400px;

.albums {
  display: flex;
  flex-wrap: wrap;

  margin: $itemSpacing (-$itemSpacing);
}

.album-wrapper {
  padding: $itemSpacing;

  @media (max-width: $albumWidth * 2) {
    width: 100%;
  }
  @media (min-width: $albumWidth * 2 + 1) and (max-width: $albumWidth * 3) {
    width: math.div(100%, 2); // 50%
  }
  @media (min-width: $albumWidth * 3 + 1) and (max-width: $albumWidth * 4) {
    width: math.div(100%, 3); // 33%
  }
  @media (min-width: $albumWidth * 4 + 1) and (max-width: $albumWidth * 6) {
    width: math.div(100%, 4); // 25%
  }
  @media (min-width: $albumWidth * 6 + 1) {
    width: math.div(100%, 6); // 16.67%
  }

  @include fade();
}

.album {
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }
}

// Album title container
.album-title {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;

  background-color: rgba($background-color, 0.8);
  border-radius: 2px;

  // Text
  div {
    @include headings-font();

    color: $text-color;
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    text-transform: lowercase;

    border-radius: 5px;
    margin: 0.55rem 0.65rem;
  }

  // Hidden albums
  .album-hidden & div {
    color: $text-error;
  }
}

.album-no-cover {
  background: $background-color-2;
}

// Placeholder text
.album-no-cover-note {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

/* Album lists */

.album-list-simple {
  //
}

.album-list-simple-items {
  & & {
    padding: 0;
    margin: 0 0 0 2rem;
  }
}

/* Album edit links */

ul.edit-links-center {
  list-style: none;
  margin: 0;
  padding: 0;

  @include headings-font();

  li:not(:last-child)::after {
    color: $text-color;
    content: "/";
    margin: 0 0.75rem;
    position: relative;
  }
}

ul.edit-links-center {
  li {
    display: inline-block;
  }
}

/* Changelog */
.commit-hash {
  font-family: Consolas, monospace;
}

/* Photo wall */
.photo-wall {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
}

.photo-wall-item {
  width: math.div(100%, 5);

  @media (min-width: 901px) and (max-width: 1500px) {
    width: math.div(100%, 8);
  }
  @media (min-width: 1501px) {
    width: math.div(100%, 10);
  }

  filter: brightness(1);

  &:hover {
    filter: brightness(0.6);
  }

  &,
  &:hover {
    transition: filter 0.2s ease-in-out;
  }

  img {
    width: 100%;
  }
}
