h2, h3 {
  margin-top: 2rem;
}

.icon {
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(220, 220, 220);

  @media (min-width: 601px) {
    margin-left: 1rem;
    width: 35%;
    float: right;
  }

  &.large {
    @media (min-width: 601px) {
      margin-left: 1rem;
      width: 45%;
      float: right;
    }
  }

  img {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  &:hover {
    box-shadow: 0 0 0.5em white;
  }
}
