body {
  max-width: 1100px;
  margin-bottom: 3rem;
}
section {
  margin: 2rem 0;
}
#edit-album {
  padding-right: 1rem;
}
#cover {
  padding-left: 1rem;
}
#cover .full-size {
  font-size: 1rem;
  text-align: right;
  float: right;
}
#cover .no-cover {
  border: 1px solid rgb(220, 220, 220);
  padding: 8px;
  text-align: center;
}
#cover img {
  width: 100%;
}
#cover, #edit-album {
  width: 50%;
  float: left;
}
#delete-album {
  width: 50%;
}
#actions-select a {
  cursor: pointer;
}
#actions-select, #actions-delete {
  width: 50%;
  float: left;
}
#actions-delete button {
  margin-left: 0.3rem;
}
#actions-delete {
  text-align: right;
  float: right;
}
#delete-album form input {
  width: 80%;
  float: left;
}
#delete-album form button {
  width: 20%;
  float: left;
}
