@mixin clearfix() {
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

// Photo
#photo {
  width: 100%;
  margin: 0;

  img {
    max-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
  }
}

// Metadata container, footer
#other, footer {
  margin: 0 auto;
  width: 90%;
}

#other {
  margin-top: 2rem;

  .fa {
    color: rgb(220, 220, 220);
    display: inline-block;
    text-align: center;
    width: 1.8rem;
  }

  > div {
    margin-bottom: 2rem;
  }
}

.metadata, .keyboard, .links {
  text-align: left;
}

.data {
  @include clearfix();

  > div {
    width: 50%;
    float: left;
  }
}

.metadata {
  font-size: 1.6rem;

  #md-md5 {
    font-family: monospace;
  }
}

.exif {
  .camera, .exposure {
    clear: both;
  }

  .camera {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(220, 220, 220);

    > div {
      width: 100%;
    }
  }

  .exposure {
    > div {
      float: left;
      width: 33.33333333%;
    }

    > div:not(:last-child) {
      border-right: 1px solid rgb(220, 220, 220);
    }
  }

  img {
    height: 3rem;
    margin: 0 auto;
    display: inline-block;
  }
}

kbd {
  background-color: rgb(60, 60, 60);
  border: 2px solid rgb(100, 100, 100);
  border-radius:  3px;
  padding: 3px 6px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: rgb(220, 220, 220);
}

#keyboard {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0.5rem 0;
  }
}
