<form {% if not album %}class="form-small"{% endif %}>
  <fieldset>
    <div class="form-row">
      <label for="f-name">Name</label>
      <div class="field-wrapper">
        <input class="field" name="name" maxlength="256" id="f-name" type="text" required>
      </div>
    </div>

    {% if album %}
    <div class="form-row">
      <label for="f-slug">Slug</label>
      <div class="field-wrapper">
        <input class="field" name="slug" id="f-slug" type="text" disabled>
      </div>
    </div>

    <div class="form-row">
      <label for="f-path">Path</label>
      <div class="field-wrapper">
        <input class="field" name="path" id="f-path" type="text" disabled>
      </div>
    </div>
    {% endif %}

    <div class="form-row">
      <label for="f-place">Place</label>
      <div class="field-wrapper">
        <input class="field" name="place" maxlength="128" id="f-place" type="text">
      </div>
    </div>

    <div class="form-row">
      <label for="f-location">Location</label>
      <div class="field-wrapper">
        <input class="field" name="location" maxlength="128" id="f-location" type="text">
      </div>
    </div>

    <div class="form-row">
      <label for="f-description">Description</label>
      <div class="field-wrapper">
        <textarea class="field" name="description" maxlength="1000" id="f-description" rows="5"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label for="f-start">Start</label>
      <div class="field-wrapper">
        <input class="field" name="start" id="f-start" type="date" required>
      </div>
    </div>

    <div class="form-row">
      <label for="f-end">End</label>
      <div class="field-wrapper">
        <input class="field" name="end" id="f-end" type="date">
      </div>
    </div>

    <div class="form-row">
      <label>Hidden</label>
      <div class="field-wrapper">
        <input class="field" type="radio" id="hidden1" name="hidden" value="false" checked>
        <label for="hidden1" class="radio-choice-small">No</label>

        <input class="field" type="radio" id="hidden2" name="hidden" value="true">
        <label for="hidden2" class="radio-choice-small">Yes</label>
      </div>
    </div>

    <div class="form-row">
      <label for="f-password">Password</label>
      <div class="field-wrapper">
        <input class="field" name="password" id="f-password" type="text">
      </div>

      <div id="generate-password" class="form-action">
        <a href="javascript: void(0)">Generate password</a>
      </div>
    </div>

    <div class="form-row">
      <label for="f-access">Access</label>
      <div class="field-wrapper">
        <input class="field" name="access" id="f-access" type="text">
      </div>
    </div>

    {% if album %}
    <div class="form-row">
      <label for="f-tags">Tags</label>
      <div class="field-wrapper">
        <input class="field" name="tags" id="f-tags" type="text">
      </div>
    </div>
    {% endif %}

    <div class="form-row">
      <label for="f-parent">Parent</label>
      <div class="field-wrapper">
        <input class="field" name="parent" id="f-parent" type="text" {% if parent %}value="{{ parent }}"{% endif %}>
      </div>

      {% if album %}
      <div id="set-parent" class="form-action">
        <a href="javascript: void(0)">Set parent album</a>
      </div>
      {% endif %}
    </div>
  </fieldset>

  <button id="album-form-save" type="button">{{ submit_text|default:"Save" }}</button>
</form>
