<div id="search-api"
     data-count="{{ albums.count }}"
     data-items-per-page="{{ items_per_page }}"
     data-page="1"></div>

<div class="album-search-container">
  <input id="search" type="text" placeholder="Search by name...">
</div>

<div class="count">{{ albums.count }} album{{ albums.count|pluralize }}</div>

<div class="pagination hidden"></div>

<section class="albums">
  {% for album in albums %}
  {% include "_album_card_load_required.html" %}
  {% endfor %}
</section>

<div id="no-results" class="hidden">No albums found.</div>

{% if pagination_below %}
<div class="pagination hidden"></div>
{% endif %}
