{% load staticfiles %}
<div class="wrapper">
  <div class="album{% if request.user.is_staff and album.hidden %} album-hidden{% endif %}">
    {% if edit %}
    <a href="{{ album.get_edit_url }}">
    {% else %}
    <a href="{{ album.get_absolute_url }}">
    {% endif %}
      {% if album.cover %}
        <img src="{{ album.cover.thumbnail.url }}" title="{{ album.name }}">
      {% else %}
        <div class="no-cover">
          <img src="{% static "images/cover-placeholder.png" %}" title="{{ album.name }}">
          <div class="note">No cover</div>
        </div>
      {% endif %}

      <div class="title">
        <div>{{ album.name }}</div>
      </div>
    </a>
  </div>
</div>
