{% load staticfiles %}
<div class="wrapper" data-name="{{ album.name.lower }}" data-path="{{ album.get_path }}">
  <div class="album{% if request.user.is_staff and album.hidden %} album-hidden{% endif %}">
    {% if edit %}
    <a href="{{ album.get_edit_url }}">
    {% else %}
    <a href="{{ album.get_absolute_url }}">
    {% endif %}
      {% if album.cover %}
        <img title="{{ album.name }}"
             class="not-loaded"
             data-src="{{ album.cover.thumbnail.url }}"
             src="{% static 'images/cover-placeholder.png' %}">
      {% else %}
        <div class="no-cover">
          <img title="{{ album.name }}"
             class="not-loaded"
             data-src="{% static 'images/cover-placeholder.png' %}"
             src="{% static 'images/cover-placeholder.png' %}">
          <div class="note">No cover</div>
        </div>
      {% endif %}

      <div class="title">
        <div>{{ album.name }}</div>
      </div>
    </a>
  </div>
</div>
