<div id="pswp" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- background -->
  <div class="pswp__bg"></div>

  <!-- slides wrapper with overflow:hidden -->
  <div class="pswp__scroll-wrap">

    <!-- container for slides - do not change the number of items -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>

    <!-- UI overlay -->
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">

        <!-- album sequence number -->
        <div class="pswp__counter"></div>

        <!-- buttons! -->
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <a id="download" href="">
          <button class="pswp__button pswp__button--download pswp__button--custom" title="Download">
            <span class="fa fa-download"></span>
          </button>
        </a>
        <a id="new-tab" href="" target="_blank">
          <button class="pswp__button pswp__button--full-size pswp__button--custom" title="Open in new tab">
            <span class="fa fa-picture-o"></span>
          </button>
        </a>
        <button class="pswp__button pswp__button--details pswp__button--custom" title="EXIF">
          <span class="fa fa-info"></span></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
        <!-- element will get class pswp__preloader--active when preloader is running -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
             <div class="pswp__share-tooltip"></div>
           </div> -->

      <button class="pswp__button pswp__button--arrow--left" title="Previous (left arrow)">
      </button>

      <button class="pswp__button pswp__button--arrow--right" title="Next (right arrow)">
      </button>

      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>