<form id="album-form" method="POST" action="{% url 'password' request.user.username %}">
  <fieldset>
    {% csrf_token %}

    <div class="form-row">
      <label for="f-current">Current</label>
      <div class="field-wrapper">
        <input class="field" name="current" id="f-current" type="password">
      </div>
    </div>

    <div class="form-row">
      <p class="form-note">Your password must contain at least 8 characters.</p>
    </div>

    <div class="form-row">
      <label for="f-new">New</label>
      <div class="field-wrapper">
        <input class="field" name="new" id="f-new" type="password">
      </div>
    </div>

    <div class="form-row">
      <label for="f-repeat">Repeat</label>
      <div class="field-wrapper">
        <input class="field" name="repeat" id="f-repeat" type="password">
      </div>
    </div>

  </fieldset>

  <a href="{% url 'user' request.user.username %}">
    <button id="password-form-cancel" type="button">Cancel</button>
  </a>

  <button id="password-form-save" type="submit">Save</button>
</form>
