<form id="album-form" method="POST" action="{% url 'password' request.user.username %}">
  {% csrf_token %}

  <fieldset>
    <div class="form-row">
      <label for="f-current">Current</label>
      <div class="field-wrapper">
        <input class="field" name="current" id="f-current" type="password">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Set your password</legend>

    <div class="form-row">
      <label for="f-new">Password</label>
      <div class="field-wrapper">
        <input class="field" name="new" id="f-new" type="password">
      </div>
      <div class="form-note">Your password must contain at least 8 characters.</div>
    </div>

    <div class="form-row">
      <label for="f-repeat">Repeat</label>
      <div class="field-wrapper">
        <input class="field" name="repeat" id="f-repeat" type="password">
      </div>
    </div>
  </fieldset>

  <div class="form-buttons">
    <a class="form-button form-button-cancel" href="{% url 'user' request.user.username %}">Cancel</a>
    <button class="form-button form-button-save" type="submit">Save</button>
  </div>
</form>
