{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About | {{ block.super }}{% endblock %}
{% block meta %}
  {% include "_open_graph_common.html" %}
  <meta property="og:type" content="profile">
  <meta property="profile:first_name" content="Doktor">
  <meta property="profile:username" content="Doktor">
  <meta property="og:url" content="{{ BASE_URL }}{% url 'about' %}">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}

{% block classes %}small left{% endblock %}

{% block content %}
  <header>
    <nav>
      <ul class="breadcrumbs">
        <li><h1 class="logo"><a href="{% url 'index' %}">Doktor Takes Photos</a></h1></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <h2>About me</h2>

    <p>I'm Doktor! I'm a photographer living in Boston, Massachusetts. In my free time, I photograph big animals.</p>

    <p>Contact info and other links can be found on my other <a href="https://doktorthehusky.com">website</a>.
      <br>You can find my photos on this website and on <a href="https://twitter.com/DoktorTheHusky">Twitter</a>.
      <br>I keep track of my work on my <a href="https://trello.com/b/z6ZTMYFD/doktor-takes-photos">Trello</a> board, which I update frequently.</p>

    <h2>Photography</h2>

    <figure class="icon">
      <img src="{% static '/images/camera.jpg' %}" title="Me!">
      <figcaption>🎨 Art by
        <a href="https://twitter.com/dragonessdrei">Drei</a>
      </figcaption>
    </figure>

    <p>I started taking photos in September 2015, my senior year of high school. Throughout the year, I took event photos for the Yearbook Club. In January 2016, I attended my first convention, Anthro New England 2016, where I volunteered in the Photo Room. As the saying goes, the rest is history.</p>

    <p>I'm self-taught &mdash; I've never had any formal training in photography. There's a list of resources I refer to at the bottom of this page. The most important thing you can do is take lots of photos!</p>

    <p>I started with my parents' Canon EOS 550D. I upgraded to a Canon EOS 80D in June 2016. I currently shoot with a Canon EOS 5D Mark IV, as of October 2017. The full list of equipment that I use is below.</p>

    <p>I'm the head photographer for <a href="http://www.anthronewengland.com/">Anthro New England</a>, a furry convention held annually in Massachusetts. I photograph a few main-stage events, organize and run the Photo Room, and take the Fursuit Group Photo. I first volunteered in the Photo Room in 2016, and joined the staff to establish the Photography Department in 2017.</p>

    <h2>Commissions</h2>

    <p>I currently only accept commissions privately from friends and through friend referrals.</p>

    <h2>Equipment</h2>

    <p>If you have questions about any of these items, I'm happy to answer. These are the full product names and models.</p>

    <h3>Current</h3>
    <ul>
      <li>📷 Canon EOS 5D Mark IV</li>
      <li>🔎 Canon EF 50mm f/1.8 STM</li>
      <li>🔎 Canon EF 85mm f/1.8 USM</li>
      <li>📷 Canon EOS 80D</li>
      <li>🔍 Canon EF-S 18-55mm f/3.5-5.6 IS STM</li>
      <li>🔍 Canon EF-S 55-250mm f/4-5.6 IS STM</li>
      <li>💡 Yongnuo YN-560 III</li>
      <li>📡 Yongnuo YN-560-TX</li>
      <li>💡 Altura Photo AP-C1001</li>
      <li>🌆 ZOMEi Z818C Tripod</li>
      <li>🕶 Tiffen Neutral Density Filter 58mm 0.9, 77mm 0.9</li>
    </ul>

    <h3>Previously borrowed/rented</h3>
    <ul>
      <li>📷 Canon EOS 5D Mark III</li>
      <li>🔍 Canon EF-S 17-55mm f/2.8 IS USM</li>
      <li>🔎 Canon EF 24mm f/1.4L USM</li>
      <li>🔎 Canon EF 24mm f/1.4L II USM</li>
      <li>🔎 Canon EF 35mm f/1.4L II USM</li>
      <li>🔎 Canon EF 85mm f/1.8 USM</li>
      <li>🔎 Canon EF 70-200mm f/2.8L IS II USM</li>
    </ul>

    <h3>Past</h3>
    <ul>
      <li>📷 Canon EOS 550D</li>
      <li>🔍 Canon EF-S 18-55mm f/3.5-5.6 IS</li>
      <li>💡 YongNuo YN-560 IV (dead)</li>
    </ul>

    <h2>Resources</h2>

    <ul>
      <li>Subreddits
        <ul>
          <li><a href="https://www.reddit.com/r/photography/">/r/photography</a></li>
          <li><a href="https://www.reddit.com/r/Lightroom/">/r/Lightroom</a></li>
        </ul>
      </li>
      <li><a href="https://photo.stackexchange.com/">Photography Stack Exchange</a></li>
      <li><a href="https://strobist.blogspot.com/">Strobist</a> for off-camera lighting tutorials</li>
      <li><a href="https://en.wikipedia.org/wiki/Canon_EOS_80D">Wikipedia</a> for concise camera descriptions</li>
      <li><a href="https://www.lensrentals.com/">LensRentals</a> for equipment rentals</li>
      <li><a href="https://www.bhphotovideo.com/">B&H</a> for equipment purchases</li>
    </ul>

    <h2>Website</h2>

    <p>The source code of this website is available at this <a href="https://github.com/Doktor/doktortakes.photos">GitHub repository</a>.</p>

    <p>Copyright notices for everything are available <a href="{% url 'copyright' %}">here</a>.</p>
  </section>

  <footer>
    {% include "_copyright.html" %}
  </footer>
{% endblock %}
