{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About | {{ block.super }}{% endblock %}
{% block meta %}
  {% include "_open_graph_common.html" %}
  <meta property="og:type" content="profile">
  <meta property="profile:first_name" content="Doktor">
  <meta property="profile:username" content="Doktor">
  <meta property="og:url" content="{{ BASE_URL }}{% url 'about' %}">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}

{% block classes %}small{% endblock %}

{% block content %}
  <section>
    <h2>About me</h2>

    <figure class="icon">
      <img src="{% static 'images/eat.png' %}" alt="A photo of a blue dog eating a camera" title="Me!">
    </figure>

    <p>I'm Doktor! I'm 21. I live in Boston, MA, USA. In my free time, I photograph big animals.</p>

    <p>I post random photos and dumb thoughts on <a href="https://twitter.com/DoktorTheHusky">Twitter</a>. You can find links to all my social media profiles on my other website, <a href="https://doktorthehusky.com">doktorthehusky.com</a>.</p>

    <p>If you'd like to get in touch, feel free to send me a message on Twitter: <a href="https://twitter.com/DoktorTheHusky">@DoktorTheHusky</a>, or send me an email: <a href="mailto:doktorthehusky@gmail.com">doktorthehusky@gmail.com</a>.</p>

    <h2>Photography</h2>

    <p>I'm self-taught &mdash; I've never had any formal training in photography. There's a list of resources I recommend at the bottom of this page. The most important thing you can do is take lots of photos!</p>

    <p>I don't specialize in any specific photography disciplines, but I particularly enjoy portraits, landscapes, and events.</p>

    <h3>History</h3>

    <p>In September 2015, I picked up a DSLR for the first time. That was my senior year of high school; I took photos for the yearbook.</p>

    <p>In January 2016, I attended my first convention, Anthro New England 2016. I volunteered in the Photo Room and took fursuit photos for the first time. As the saying goes, the rest is history.</p>

    <p>My first camera was my parents' Canon EOS 550D. In June 2016, I switched to a Canon EOS 80D. In October 2017, I switched to my current camera, a Canon EOS 5D Mark IV.</p>

    <h3>Anthro New England</h3>

    <p>I'm a staff member for <a href="http://www.anthronewengland.com/">Anthro New England</a> (ANE), a convention held in Boston, MA. I'm part of the Photography Department. I organize and run the Photo Room, the Fursuit Group Photo, and the Fursuit "Parade". I volunteered in the Photo Room in 2016, and started organizing and running it in 2017.</p>

    <h3>Commercial work</h3>

    <p>I don't often take on private shoots or projects, but get in touch if you have ideas.</p>

    <p>If you want to support my work, check out my <a href="https://ko-fi.com/doktor">Ko-fi</a> page!</p>

    <h2>Software</h2>

    <ul>
      <li><a href="https://www.adobe.com/products/photoshop.html">Adobe Photoshop</a></li>
      <li><a href="https://www.adobe.com/products/photoshop-lightroom.html">Adobe Photoshop Lightroom</a></li>
    </ul>

    <h2>Resources</h2>

    <ul>
      <li><a href="https://www.reddit.com/r/canon/">/r/canon</a></li>
      <li><a href="https://www.reddit.com/r/Lightroom/">/r/Lightroom</a></li>
      <li><a href="https://www.reddit.com/r/photography/">/r/photography</a></li>
      <li><a href="https://www.reddit.com/r/postprocessing/">/r/postprocessing</a></li>
      <li><a href="https://photo.stackexchange.com/">Photography Stack Exchange</a></li>
      <li><a href="https://strobist.blogspot.com/">Strobist</a>: off-camera lighting tutorials</li>
      <li><a href="https://en.wikipedia.org/wiki/Canon_EOS_5D_Mark_IV">Wikipedia</a>: concise camera overviews</li>
      <li><a href="https://www.lensrentals.com/">LensRentals</a>: equipment rentals</li>
      <li><a href="https://www.bhphotovideo.com/">B&H</a>: equipment purchases</li>
    </ul>

    <h2>Website</h2>

    <p>The source code of this website is available on <a href="https://gitlab.com/Doktor/doktortakes.photos">GitLab</a>.</p>

    <p>Copyright notices are listed <a href="{% url 'copyright' %}">here</a>.</p>
  </section>

  <footer>
    {% include "_copyright.html" %}
  </footer>
{% endblock %}
