{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About | {{ block.super }}{% endblock %}
{% block meta %}
  {% include "_open_graph_common.html" %}
  <meta property="og:type" content="profile">
  <meta property="profile:first_name" content="Doktor">
  <meta property="profile:username" content="Doktor">
  <meta property="og:url" content="{{ BASE_URL }}{% url 'about' %}">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}

{% block classes %}small left{% endblock %}

{% block content %}
  <section>
    <h2>About me</h2>

    <figure class="icon">
      <img src="{% static '/images/eat.png' %}" title="Me!">
    </figure>

    <p>I'm Doktor! I'm 21. I live in Boston, Massachusetts, USA. In my free time, I photograph big animals.</p>

    <p>You can find my contact info and other links <a href="https://doktorthehusky.com">here</a>.
      <br>I post all of my photos on this website.
      <br>I post random shots and dumb thoughts on <a href="https://twitter.com/DoktorTheHusky">Twitter</a>.</p>

    <h2>Photography</h2>

    <p>I'm self-taught; I've never had any formal training in photography. There's a list of resources I commonly refer to at the bottom of this page. The most important thing you can do is take lots of photos!</p>

    <p>I don't specialize in any specific photography disciplines, but I particularly enjoy portraits, landscapes, and events.</p>

    <h3>History</h3>

    <p>In September 2015, I picked up a DSLR for the first time. That was my senior year of high school. During that year, I took photos at events for the yearbook. In January 2016, I attended my first convention, Anthro New England 2016, where I volunteered in the Photo Room. As the saying goes, the rest is history.</p>

    <p>I started with my parents' Canon EOS 550D in September 2015. I upgraded to a Canon EOS 80D in June 2016. I upgraded to, and currently shoot with, a Canon EOS 5D Mark IV, in October 2017.</p>

    <h3>Anthro New England</h3>

    <p>I'm a staff photographer for <a href="http://www.anthronewengland.com/">Anthro New England</a> (ANE), a furry convention held annually in Massachusetts. ANE a non-profit organization that raises money for Massachusetts Vest-A-Dog, a local charity supporting police dogs. I photograph some main-stage events, organize and run the Photo Room, and take the Fursuit Group Photo. I first volunteered in the Photo Room in 2016, and joined the staff to establish the Photography Department in 2017.</p>

    <h2>Commissions</h2>

    <p>I'm not accepting commission inquiries at this time.</p>

    <h2>Resources</h2>

    <ul>
      <li><a href="https://www.reddit.com/r/photography/">/r/photography</a></li>
      <li><a href="https://www.reddit.com/r/Lightroom/">/r/Lightroom</a></li>
      <li><a href="https://photo.stackexchange.com/">Photography Stack Exchange</a></li>
      <li><a href="https://strobist.blogspot.com/">Strobist</a>: off-camera lighting tutorials</li>
      <li><a href="https://en.wikipedia.org/wiki/Canon_EOS_5D_Mark_IV">Wikipedia</a>: concise camera overviews</li>
      <li><a href="https://www.lensrentals.com/">LensRentals</a>: equipment rentals</li>
      <li><a href="https://www.bhphotovideo.com/">B&H</a>: equipment purchases</li>
    </ul>

    <h2>Website</h2>

    <p>The source code of this website is available at this <a href="https://github.com/Doktor/doktortakes.photos">GitHub repository</a>.</p>

    <p>Copyright notices for everything are available <a href="{% url 'copyright' %}">here</a>.</p>
  </section>

  <footer>
    {% include "_copyright.html" %}
  </footer>
{% endblock %}
