{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block style %}
<style>
img {
  display: inline-block;
  width: 300px;
}
</style>
{% endblock %}

{% block content %}
<section>
  {% for date, item in activity.items %}
  <div class="activity-item">
    <h3>{{ date|timezone:"US/Eastern"|date:"m-d H:i" }}</h3>
    <p>Uploaded {{ item.count }} item{{ item.count|pluralize }} to <a href="{{ item.album.get_absolute_url }}">{{ item.album.name }}</a></p>
    <div>
    {% for photo in item.photos %}
      <span>
        <a href="{{ photo.get_absolute_url }}">
          {% if photo.square_thumbnail %}
          <img src="{{ photo.square_thumbnail.url }}">
          {% else %}
          <img src="{% static 'images/square-placeholder.png' %}">
          {% endif %}
        </a>
      </span>
    {% endfor %}
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
