{% extends "base.html" %}

{% block title %}Photos | {{ block.super }}{% endblock %}
{% block meta %}
  {% include "_open_graph_common.html" %}

  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ LAST_UPDATE|date:"c" }}">
  <meta property="article:modified_time" content="{{ LAST_UPDATE|date:"c" }}">
  <meta property="og:url" content="{{ BASE_URL }}{% url 'albums' %}">
{% endblock %}

{% block classes %}small left{% endblock %}

{% block content %}
  <section>
    {% if not view_hidden %}
    <h2>Group photos</h2>
    <p>You can find large group photos <a href="{% url 'panoramas' %}">here</a>.</p>

    <h2>Views</h2>
    <p>View the list of albums in different formats.</p>
    <ul>
      <li><a href="?view=cards">Cards</a> &mdash; default</li>
      <li><a href="?view=details">Detailed cards</a> &mdash; locations, dates, other metadata</li>
      <li><a href="?view=simple">Simple</a> &mdash; text only</li>
    </ul>
    {% endif %}

    <h2>Special pages</h2>
    <ul>
      {% if request.user.is_authenticated and not view_hidden %}
      <li><a href="?hidden=true">View your albums</a></li>
      {% elif view_hidden %}
      <li><a href="{% url 'albums' %}">View all albums</a></li>
      {% endif %}
      <li><a href="{% url 'tags' %}">View all tags</a></li>
      <li><a href="{% url 'search' %}">Search all photos</a></li>
    </ul>

    <h2>Photos</h2>
    {% if albums %}
    {% block album_list %}
    {% endblock %}
    {% else %}
    <p>No photos available.</p>
    {% endif %}
  </section>

  <hr>

  <footer>
    {% include "_reuse.html" %}
    {% include "_copyright.html" %}
  </footer>
{% endblock %}

