{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ page_title }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ DESCRIPTION }}">
<meta property="og:site_name" content="{{ TITLE }}">
<meta property="og:url" content="{{ BASE_URL }}{{ album.get_absolute_url }}">
<meta property="og:updated_time" content="{{ album.start|date:"c" }}">

<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ album.start|date:"c" }}">
<meta property="article:modified_time" content="{{ album.start|date:"c" }}">

{% if album.cover %}
<meta property="og:image" content="{% if local_storage %}{{ BASE_URL }}{% endif %}{{ album.cover.image.url }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="{{ album.cover.width }}">
<meta property="og:image:height" content="{{ album.cover.height }}">
{% endif %}

<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="{{ TWITTER }}">
<meta name="twitter:creator" content="{{ TWITTER }}">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ DESCRIPTION }}">
{% if album.cover %}
<meta name="twitter:image" content="{% if local_storage %}{{ BASE_URL }}{% endif %}{{ album.cover.image.url }}">
{% endif %}

{% if album.hidden %}
<meta name="robots" content="noindex, nofollow">
{% endif %}
{% endblock %}

{% block content %}
  <!-- Header -->
  <header>
    <nav class="album-nav">
      <ul class="breadcrumbs">
        <li class="bc-icon" title="Breadcrumbs"><i class="fas fa-fw fa-book"></i> <a href="{% url 'albums' %}">Photos</a></li>
        {% for album in path %}
        <li><a href="{{ album.get_absolute_url }}">{{ album.name }}</a></li>
        {% endfor %}
      </ul>

      {% if request.user.is_staff %}
      <ul class="edit-links">
        <li><a href="{{ album.get_edit_url }}">Edit</a></li>
        <li><a href="{% url 'admin:photos_album_change' album.pk %}">Admin</a></li>
    </ul>
      {% endif %}
    </nav>

    <section id="album">
      <figure class="cover">
        {% if album.cover %}
        <img src="{{ album.cover.image.url }}">
        {% else %}
        <img src="{% static 'images/cover-placeholder.png' %}">
        {% endif %}

        <div class="title-container">
          <h2 class="title">{{ album.name }}</h2>
        </div>
      </figure>

      {% if album.get_place or album.get_location %}
      <h3 class="info">
        <span title="Location"><i class="fas fa-fw fa-map-marker"></i></span>
        {{ album.get_full_location }}
      </h3>
      {% endif %}

      <h3 class="info">
        <span title="Date"><i class="fas fa-fw fa-calendar"></i></span>
        {{ album.get_full_date }}
      </h3>

      {% if album.hidden %}
        {% if not request.user.is_staff %}
        <h3 class="info">
          <span title="Warning"><i class="fas fa-fw fa-exclamation-triangle"></i></span>
          This album is hidden; please ask before sharing.
        </h3>
        {% endif %}

        {% if album.password %}
        <h3 class="info">
          <span title="Password"><i class="fas fa-fw fa-key"></i></span>
          {{ album.password }}
          (<a href="{{ album.get_absolute_url }}">regular link</a>,
          <a href="{{ album.get_password_url }}">password link</a>)
        </h3>
        {% endif %}

        {% if request.user.is_staff %}
        <h3 class="info">
          <span title="Warning"><i class="fas fa-fw fa-key"></i></span>
          Hidden album
        </h3>

        {% with access_list=album.get_access_list %}
          {% if access_list %}
          <h3 class="info">
            <span title="Users"><i class="fas fa-fw fa-users"></i></span>
            {{ access_list }}
          </h3>
          {% endif %}
        {% endwith %}
        {% endif %}
      {% endif %}

      {% if album.tags.count %}
      <h3 class="info">
        <span title="Tags"><i class="fas fa-fw fa-tags"></i></span>
        {% for tag in album.tags.all %}
        <span><a href="{{ tag.get_absolute_url }}">#{{ tag.slug }}</a></span>
        {% endfor %}
      </h3>
      {% endif %}

      {% if album.description %}
      <p class="description">{{ album.description|safe }}</p>
      {% endif %}
    </section>
  </header>

  <hr>

  <!-- Albums -->
  {% with a_count=album.children.count %}
  {% if a_count %}
    <div class="count">{{ a_count }} album{{ a_count|pluralize }}</div>

    <section id="albums">
      {% for c in album.children.all %}
        {% include "_album_card.html" with album=c %}
      {% endfor %}
    </section>
  {% endif %}
  {% endwith %}

  {% if album.children.count and count %}
  <hr>
  {% endif %}

  {% if count %}
    <!-- Hidden data element -->
    <div id="api"
       data-count="{{ count }}"
       data-items-per-page="{{ items_per_page }}"
       data-page="1"></div>

    <div class="count">{{ count }} photo{{ count|pluralize }}</div>

    <!-- Photos -->
    <div class="pagination"></div>
    <section class="photos">
      {% for p in photos %}
        <div class="wrapper">
          <div class="photo">
            <a href="{% url 'photo' album.get_path p.md5 %}{% if password %}{{ album.get_password_query }}{% endif %}">
              <img class="not-loaded"
                   data-src="{{ p.square_thumbnail.url }}"
                   src="{% static 'images/loading.svg' %}">
            </a>
          </div>
        </div>
      {% endfor %}
    </section>
    <div class="pagination"></div>
  {% else %}
    {% if not album.children.count %}
    <p>This album does not contain any images.</p>
    {% endif %}
  {% endif %}

  <hr>

  <!-- Footer -->
  <footer>
    {% include "_reuse.html" %}
    {% include "_copyright.html" %}
  </footer>
{% endblock %}

{% block scripts %}
{% if count %}
<script src="{% static 'scripts/album.js' %}"></script>
{% endif %}
{% endblock %}
