{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Photos | {{ block.super }}{% endblock %}
{% block meta %}
  {% include "_open_graph_common.html" %}

  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ LAST_UPDATE|date:"c" }}">
  <meta property="article:modified_time" content="{{ LAST_UPDATE|date:"c" }}">
  <meta property="og:url" content="{{ BASE_URL }}{% url 'albums' %}">
{% endblock %}

{% block classes %}small left{% endblock %}

{% block content %}
  <section>
    <h2>Group photos</h2>
    <p>You can find large group photos <a href="{% url 'panoramas' %}">here</a>.</p>

    <h2>Views</h2>
    <p>View the list of albums in different formats.</p>
    <ul>
      <li><a href="{% url 'albums' %}?view=cards">Cards</a> &mdash; default</li>
      <li><a href="{% url 'albums' %}?view=details">Detailed cards</a> &mdash; locations, dates, other metadata</li>
      <li><a href="{% url 'albums' %}?view=simple">Simple</a> &mdash; text only</li>
    </ul>

    <h2>Special pages</h2>
    <ul>
      <li><a href="{% url 'tags' %}">View all tags</a></li>
      <li><a href="{% url 'search' %}">Search all photos</a></li>
    </ul>

    <h2>Photos</h2>
    {% if albums %}
    <div id="api"
         data-count="{{ albums.count }}"
         data-items-per-page="{{ items_per_page }}"
         data-page="1"></div>

    <div id="album-search">
      <input id="search" type="text" placeholder="Search by name..." data-previous="">
    </div>

    <div id="album-count">{{ albums.count }} album{{ albums.count|pluralize }}</div>

    <div class="pagination above hidden"></div>
    {% block album_list %}
    {% endblock %}
    <div id="no-results" class="hidden">No albums found.</div>
    <div class="pagination below hidden"></div>
    {% else %}
    <p>No photos available.</p>
    {% endif %}
  </section>

  <hr>

  <footer>
    {% include "_reuse.html" %}
    {% include "_copyright.html" %}
  </footer>
{% endblock %}

{% block scripts %}
{% if albums %}
<script src="{% static 'scripts/albums.js' %}"></script>
{% endif %}
{% endblock %}

