{% extends "base.html" %}
{% load staticfiles %}

{% block title %}All Photos - {{ block.super }}{% endblock %}

{% block description %}
  {{ description }}
{% endblock %}

{% block style %}
  <style>
    .pagination span {
      margin: 0 1rem;
    }
    #sort label {
      margin: 0 1rem;
    }
    #sort button {
      margin-top: 0.5rem;
    }
    #sort fieldset {
      width: 100%;
    }
    #sort div {
      width: 50%;
      float: left;
    }
    label.hidden {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
  <!-- album -->
  <header class="album">
    <nav>
      <ul class="breadcrumbs">
        <li><a href="{% url 'index' %}">Index</a></li>
        <li><a href="{% url 'photos' %}">Photos</a></li>
        <li><a href="{% url 'all' %}">All</a></li>
      </ul>
    </nav>

    <h1>All Photos</h1>

    {% if page %}
      <form method="get" id="sort">
        <fieldset>
          <legend>Sorting</legend>

          <!-- keep the page number -->
          <label class="hidden">
            <input name="page" value="{{ page }}">
          </label>

          <!-- sorting options -->
          <div>
            {% for radio in form.sort %}
              <label for="{{ radio.id_for_label }}">
                {{ radio.tag }} {{ radio.choice_label }}
              </label>
            {% endfor %}
          </div>

          <!-- order options -->
          <div>
            {% for radio in form.order %}
              <label for="{{ radio.id_for_label }}">
                {{ radio.tag }} {{ radio.choice_label }}
              </label>
            {% endfor %}
          </div>

        </fieldset>
        <button type="submit">Sort</button>
      </form>
    {% endif %}

  </header>

  <!-- photos -->
  <hr>
  {% if photos %}
    <section id="photos">
      {% for p in photos %}
        <div class="wrapper">
          <div class="photo">
            <a href="{{ p.get_absolute_url }}">
              <img src="{{ p.thumbnail.url }}">
            </a>
          </div>
        </div>
      {% endfor %}
    </section>

    <!-- pagination -->
    {% if page %}
      <section class="pagination">
        {% if photos.has_previous %}
          <span><a href="?page={{ photos.previous_page_number }}&amp;sort={{ sort }}&amp;order={{ order }}">previous</a></span>
        {% endif %}

        <span>Page {{ photos.number }} of {{ photos.paginator.num_pages }}</span>

        {% if photos.has_next %}
          <span><a href="?page={{ photos.next_page_number }}&amp;sort={{ sort }}&amp;order={{ order }}">next</a></span>
        {% endif %}
      </section>
    {% endif %}

  {% else %}
    <section>
      <p>No images were found.</p>
    </section>
  {% endif %}

  <hr>

  <footer>
    {% include "_reuse.html" %}
    {% include "_copyright.html" %}
  </footer>

{% endblock %}
