<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load staticfiles %}

  <title>{% block title %}{{ TITLE }}{% endblock %}</title>
  <meta name="author" content="{{ NAME }}">
  <meta name="description" content="{% block description %}{{ DESCRIPTION }}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0078ff">
  {% block meta %}{% endblock %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
  {% if debug %}
  <link rel="stylesheet" href="{% static 'styles/debug/common.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'styles/shared/common.css' %}">
  {% endif %}
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">

  <script src="{% static 'scripts/common.js' %}" defer></script>
  {% block scripts %}{% endblock %}

  {% block style %}{% endblock %}
</head>

<body class="{% block classes %}{% endblock %}">
{% block nav %}
<nav class="nav">
  <ul class="nav-items">
    <li class="nav-item">
      <h1 class="logo">
        <a class="nav-item-link" href="{% url 'index' %}">Doktor Takes Photos</a>
      </h1>
    </li>
    {% include "_navlinks.html" with divider=True %}
  </ul>
</nav>
{% endblock %}

<div id="messages">
  {% for m in messages %}
  <div class="message visible {{ m.tags }}" tabindex="1">{{ m }}</div>
  {% endfor %}
</div>

{% block content %}{% endblock %}
</body>
</html>
