{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Changes | {{ block.super }}{% endblock %}

{% block meta %}
{% include "_open_graph_common.html" %}
<meta property="og:type" content="profile">
<meta property="profile:first_name" content="Doktor">
<meta property="profile:username" content="Doktor">
<meta property="og:url" content="{{ BASE_URL }}{% url 'changes' %}">
{% endblock %}

{% block classes %}small{% endblock %}

{% block content %}
  <section>
    <h2>Changes</h2>

    <p>Last commit: <a class="commit-hash" href="{{ status.commit_link }}{{ status.last_commit_hash }}">{{ status.last_commit_hash|slice:"0:7" }}</a> at {{ status.last_commit_datetime }} ({{ status.last_commit_datetime|naturaltime }})</p>

    <ul>
      {% for item in status.last_20_commits %}
      <li>
        <a class="commit-hash" href="{{ status.commit_link }}{{ item.hash }}">{{ item.hash|slice:"0:7" }}</a>
        <span>{{ item.subject }}</span>
      </li>
      {% endfor %}
    </ul>

    <p>View all changes <a href="{{ status.commit_list }}">here</a>.</p>
  </section>

  <footer>
    {% include "_copyright.html" %}
  </footer>
{% endblock %}
