{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Copyright notices - {{ block.super }}{% endblock %}

{% block meta %}
  {% include "_ogp_common.html" %}
  <meta property="og:type" content="profile">
  <meta property="profile:first_name" content="Doktor">
  <meta property="profile:username" content="Doktor">
  <meta property="og:url" content="{{ BASE_URL }}{% url 'copyright' %}">
{% endblock %}

{% block classes %}small left{% endblock %}

{% block content %}
  <header>
    <nav>
      <ul class="breadcrumbs">
        <li><a href="{% url 'index' %}">Index</a></li>
        <li><a href="{% url 'about' %}">Copyright</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <h1>Copyright notices</h1>

    <h2>Website</h2>

    <p>The <a href="https://github.com/Doktor/doktortakes.photos">source code</a> for this website is available under the <a href="https://github.com/Doktor/doktortakes.photos/blob/master/LICENSE">MIT License</a>.</p>

    <h2>Photos</h2>

    <p>The photos I publish on this website are licensed under the <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0 License</a>, unless otherwise speciifed on the album or photo page.</p>

    <h2>Photo viewer</h2>

    <p>The photo viewer used on the photo pages is <a href="http://photoswipe.com/">PhotoSwipe</a>, developed by <a href="http://dimsemenov.com/">Dmitry Semenov</a>. It's used under the <a href="https://github.com/dimsemenov/PhotoSwipe/blob/master/LICENSE">MIT License</a>.</p>

    <h2>Metadata and navigation icons</h2>

    <p>The icons used in the Metadata and Navigation sections of the photo pages are from <a href="http://fontawesome.io/">Font Awesome</a> by Dave Gandy. They are used under the <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">SIL OFL 1.1</a> and the <a href="http://opensource.org/licenses/mit-license.html">MIT License</a>.</p>

    <h2>EXIF icons</h2>

    <p>The icons used in the EXIF section of the photo pages are from the <a href="https://thenounproject.com/DmitryBaranovskiy/collection/photo/">Photo</a> collection created by <a href="http://dmitry.baranovskiy.com/">Dmitry Baranovskiy</a>, published to <a href="https://thenounproject.com/">The Noun Project</a>. They are used under the <a href="https://creativecommons.org/licenses/by/3.0/us/">CC BY 3.0 US License</a>.</p>
  </section>

  <footer>
    {% include "_copyright.html" %}
  </footer>
{% endblock %}
