{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Editing {{ album.name }} | {{ block.super }}{% endblock %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static "dropzone/dropzone.css" %}">
<link rel="stylesheet" href="{% static "edit-album.css" %}">
{% endblock %}

{% block classes %}small left{% endblock %}

{% block content %}
  <header>
    <nav>
      <ul class="breadcrumbs">
        <li><h1 class="logo"><a href="{% url 'index' %}">Doktor Takes Photos</a></h1></li>
        <li><a href="{% url 'edit' %}">Edit</a></li>
        {% for p in parents %}
          <li><a href="{{ p.get_edit_url }}">{{ p.name }}</a></li>
        {% endfor %}
        <li><a href="{{ album.get_edit_url }}">{{ album.name }}</a>
        </li>
      </ul>
    </nav>

    <h1>Edit album</h1>
    <h2>{{ album.name }}</h2>
    <a href="{{ album.get_absolute_url }}" target="_blank">View on site</a>
  </header>

  {% if messages %}
    <section id="messages">
      {% for m in messages %}
        <div class="message {{ m.tags }}">{{ m }}</div>
      {% endfor %}
    </section>
  {% endif %}

  <section class="main-container clearfix">
    <div id="edit-album">
      <form method="post" action="{{ album.get_edit_url }}">
        {% csrf_token %}

        {% for field in form %}
          <div class="row">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="field-wrapper">{{ field }}</div>
          </div>
        {% endfor %}
        <input type="submit" value="Save">
      </form>
    </div>

    <div id="cover">
      {% if album.cover %}
        {% with link=album.thumbnail.url %}
          <a href="{{ link }}" target="_blank" title="Full size">
            <img src="{{ link }}">
          </a>
        {% endwith %}
        <span class="full-size"><a href="{{ album.cover.image.url }}">Original full size</a>
        </span>
      {% else %}
        <div class="no-cover">
          <span class="note">This album does not have a cover.</span>
        </div>
      {% endif %}
    </div>
  </section>

  <section>
    <h2>Add photos</h2>

    <div id="upload">
      <form id="dropzone" class="dropzone" method="post" enctype="multipart/form-data" action="{% url 'upload' album.get_path %}">
        {% csrf_token %}
        <div class="fallback">
          <input type="file" name="files" multiple>
          <input type="submit" value="Upload">
        </div>
      </form>
    </div>
  </section>

  <section>
    <h2>Delete photos</h2>

    {% if album.photos.count %}
      {% with count=album.photos.count %}
        <h3 id="total">{{ count }} photo{{ count|pluralize }} in album</h3>
        <h3 id="counter">0 selected</h3>
      {% endwith %}

      <div id="actions" class="clearfix">
        <div id="actions-select">
          <a onclick="select_all();">Select all</a><br>
          <a onclick="select_none();">Select none</a>
        </div>
        <div id="actions-delete">
          <span class="warning">Deletion cannot be undone!</span>
          <button id="delete-photos" type="button">Delete</button>
        </div>
      </div>

      <div id="photos">
        <!-- TODO: Overlay a check mark on selected photos -->
        {% for p in album.photos.all %}
          <div class="wrapper">
            <div class="photo" data-number="{{ p.number }}">
              <img src="{{ p.thumbnail.url }}">
              <div class="number">{{ p.number }}</div>
              <div class="overlay"></div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>This album does not contain any images.</p>
    {% endif %}
  </section>

  <section id="delete-album">
    <h2>Delete album</h2>
    <p class="warning">This deletes the album and all photos contained within
      it. Deletion cannot be undone!</p>
    <p>To confirm deletion, enter the name of the album.</p>
    <form class="clearfix" method="post" action="{{ album.get_delete_url }}">
      {% csrf_token %}
      <input title="Name" name="name" type="text">
      <button type="submit">Delete</button>
    </form>
  </section>

  <footer>
    {% include "_copyright.html" %}
  </footer>
{% endblock %}

{% block scripts %}
<script src="{% static "dropzone/dropzone.js" %}"></script>
<script>
  Dropzone.autoDiscover = false;
  var dropzone = new Dropzone("#dropzone", {
    paramName: 'files'
  });
</script>
<script src="{% static 'edit-album.js' %}"></script>
{% endblock %}
