{% extends "base.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block title %}Edit albums | {{ block.super }}{% endblock %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block scripts %}
{% render_bundle 'editAlbums' attrs='defer' %}
{% endblock %}

{% block content %}
  <div id="api"
       data-api-album-list="{% url 'api_albums' %}"

       data-static-cover-placeholder="{% static 'images/cover-placeholder.png' %}"
  ></div>

  <div id="app"></div>

  <footer>
    {% include "_copyright.html" %}
  </footer>
{% endblock %}
