{% extends "base.html" %}
{% load staticfiles %}

{% block meta %}
  {% include "_open_graph_common.html" %}

  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ BASE_URL }}{% url 'index' %}">
  <meta property="article:author" content="{{ NAME }}">
  <meta property="article:published_time" content="{{ LAST_UPDATE|date:"c" }}">
  <meta property="article:modified_time" content="{{ LAST_UPDATE|date:"c" }}">
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
  <header>
    <h1 class="logo large">Doktor Takes Photos</h1>

    <h2 id="tagline">"{{ tagline }}"</h2>

    <ul class="navlinks">
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'featured' %}">Featured</a></li>
      <li><a href="{% url 'albums' %}">Photos</a></li>
      <li><a href="https://trello.com/b/z6ZTMYFD/doktor-takes-photos" target="blank" rel="noopener noreferrer">Trello</a></li>
      <li><a href="https://twitter.com/DoktorTheHusky" target="blank" rel="noopener noreferrer">Twitter</a></li>
      {% if request.user.is_superuser %}
      <li><a href="{% url 'edit' %}">Edit</a></li>
      <li><a href="{% url 'log_out' %}">Log out</a></li>
      {% endif %}
    </ul>
  </header>

  {% if messages %}
  <section id="messages">
    {% for m in messages %}
      <div class="message {{ m.tags }}">{{ m }}</div>
    {% endfor %}
  </section>
  {% endif %}

  {% if albums %}
    <section id="albums" class="no-margin-fix">
    {% for a in albums %}
      {% include "_album_card.html" with album=a %}
    {% endfor %}
    </section>

    {% if more_albums %}
    <h4 class="view-more">
      <a href="{% url 'albums' %}">View more albums</a>
    </h4>
    {% endif %}
  {% else %}
    <p>No albums found.</p>
  {% endif %}

  <hr>

  <footer>
    {% include "_reuse.html" %}
    {% include "_copyright.html" %}
  </footer>
{% endblock %}
