{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block classes %}small{% endblock %}

{% block content %}
  <header>
    {% if messages %}
    <section id="messages">
      {% for m in messages %}
        <div class="message {{ m.tags }}">{{ m }}</div>
      {% endfor %}
    </section>
    {% endif %}

    <h2>Log in</h2>
  </header>

  <section>
    <form id="login" method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <fieldset>
        <div class="row">
          <label for="username">Username</label>
          <div class="field-wrapper">
            <input id="username" name="username" type="text" required>
          </div>
        </div>

        <div class="row">
          <label for="password">Password</label>
          <div class="field-wrapper">
            <input id="password" name="password" type="password" required>
          </div>
        </div>
      </fieldset>

      <button type="submit">Log in</button>
    </form>
  </section>
{% endblock %}
