{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login - {{ block.super }}{% endblock %}
{% block meta %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block style %}
  <style>
    .form-wrapper {
      width: 100%;
      margin-left: 25%;
    }
    #login {
      width: 50%;
    }
    #login label {
      text-align: left;
      width: 100%;
    }
    #login input {
      text-align: left;
      width: 100%;
    }
  .field {
    margin: 1rem 0;
  }
  .field.submit {
    margin-top: 2rem;
  }
  </style>
{% endblock %}

{% block classes %}small{% endblock %}

{% block content %}
  <header>
    <nav id="path">
      <ul class="breadcrumbs">
        <li><a href="{% url 'index' %}">Index</a></li>
        <li><a href="{% url 'login' %}">Log in</a></li>
      </ul>
    </nav>
  </header>

  {% if messages %}
    <section id="messages">
      {% for m in messages %}
        <div class="message {{ m.tags }}">{{ m }}</div>
      {% endfor %}
    </section>
  {% endif %}

  <section>
    <h1>Log in</h1>

    <div class="form-wrapper">
      <form id="login" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="field">
          <label for="username">Username</label>
          <input id="username" name="username" type="text" required>
        </div>

        <div class="field">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" required>
        </div>

        <div class="field submit">
          <button type="submit">Log in</button>
        </div>

      </form>
    </div>
  </section>
{% endblock %}
