{% extends "base.html" %}
{% load staticfiles %}

{% block title %}New album | {{ block.super }}{% endblock %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static "styles/edit-album.css" %}">
{% endblock %}

{% block classes %}small{% endblock %}

{% block content %}
  <header>
    <nav>
      <ul class="breadcrumbs">
        <li class="bc-icon" title="Breadcrumbs"><i class="fas fa-fw fa-book"></i> <a href="{% url 'edit_albums' %}">Edit</a></li>
        <li><a href="{% url 'new_album' %}">New</a></li>
      </ul>
    </nav>

    <h2>Create new album</h2>
  </header>

  {% if messages %}
  <section id="messages">
    {% for m in messages %}
      <div class="message {{ m.tags }}">{{ m }}</div>
    {% endfor %}
  </section>
  {% endif %}

  <div id="flash"></div>

  <div id="api" data-api-album="{% url 'api_new_album' %}"></div>

  <div id="album-form-container" class="new">
    {% include '_album_form.html' with tags=False select_parent=False %}
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/new-album.js' %}"></script>
{% endblock %}
