{% extends "base.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block title %}New album | {{ block.super }}{% endblock %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static "styles/edit-album.css" %}">
{% endblock %}

{% block scripts %}
{% render_bundle 'newAlbum' attrs='defer' %}
{% endblock %}

{% block classes %}small{% endblock %}

{% block content %}
  <header>
    <h2>Create new album</h2>
  </header>

  <div id="api" data-api-album-list="{% url 'api_albums' %}"></div>

  <div id="app"></div>

  <footer>
    {% include "_copyright.html" %}
  </footer>
{% endblock %}

