{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block style %}
  <style>
  #panorama {
    width: 100%;
    height: auto;
  }
  </style>
{% endblock %}

{% block content %}
  <header id="panorama">
    <h2 class="title">{{ p.name }}</h2>
    {% if p.location %}<h3 class="location">{{ p.location }}</h3>{% endif %}
    <h3><time>{{ p.taken|timezone:p.timezone|date:"l, Y-m-d, g:i A" }}</time></h3>
    {% if p.description %}<p class="description">{{ p.description }}</p>{% endif %}
  </header>

  <section>
    <div><a href="{{ p.image.url }}">Full size</a>, {{ p.width }} &times; {{ p.height }} px, {{ p.file_size }}</div>
    <div><a href="{{ p.thumbnail.url }}">Thumbnail</a>, {{ p.thumbnail.width }} &times; {{ p.thumbnail.height }} px, {{ p.get_thumbnail_size }}</div>
  </section>

  <section>
    <img id="panorama"
      title="Preview image"
      src="{{ p.thumbnail.url }}"
      data-width="{{ p.width }}"
      data-height="{{ p.height }}">
  </section>

  <footer>
    {% include "_copyright.html" %}
  </footer>
{% endblock %}
