{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block style %}
  <style>
  #panorama {
    width: 100%;
    height: auto;
  }
  </style>
{% endblock %}

{% block content %}
  <header id="panorama">
    <h2 class="title">{{ p.name }}</h2>
    {% if p.location %}<h3 class="location">{{ p.location }}</h3>{% endif %}
    <time>{{ p.taken|timezone:p.timezone|date:"l, Y-m-d, g:i A" }}</time>
    {% if p.description %}<p class="description">{{ p.description }}</p>{% endif %}
  </header>

  <section>
    <img id="panorama"
      title="Preview image"
      src="{{ p.thumbnail.url }}"
      data-width="{{ p.width }}"
      data-height="{{ p.height }}">

    <ul>
      <li><a href="{{ p.image.url }}">Full size</a>, {{ p.width }} &times; {{ p.height }} px, {{ p.file_size }}</li>
      {# <li><a href="{{ p.optimal.url }}">Optimal size</a>, {{ p.optimal.width }} &times; {{ p.optimal.height }} px, {{ p.get_optimal_file_size }}</li> #}
      <li><a href="{{ p.thumbnail.url }}">Thumbnail</a>, {{ p.thumbnail.width }} &times; {{ p.thumbnail.height }} px, {{ p.get_thumbnail_size }}</li>
    </ul>

    {# <p>The optimal size image is sized so there's very little degradation in quality to the full size image. The full size image is usually not that great at 100% zoom.</p> #}
  </section>

  <footer>
    {% include "_reuse.html" %}
    {% include "_copyright.html" %}
  </footer>
{% endblock %}
