{% extends "base.html" %}

{% load staticfiles %}
{% load tz %}

{% block title %}{{ short_md5 }} | {{ photo.album.name }} | {{ block.super }}{% endblock %}

{% block style %}
<style>
  body {
    margin: 0;
    width: 100%;
    max-width: none;
  }
</style>
<link rel="stylesheet" href="{% static 'photo.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
  <div id="api"
       data-api-get="{% url 'get_photo' %}"
       data-api-previous="{% url 'previous_photo' %}"
       data-api-next="{% url 'next_photo' %}"
       data-api-first="{% url 'first_photo' %}"
       data-api-last="{% url 'last_photo' %}">
    <div id="left"></div>
    <div id="right"></div>
  </div>

  <section id="photo"
           data-path="{{ photo.get_path }}"
           data-md5="{{ photo.md5 }}">
    <img src="">
  </section>

  <section id="other">
    <div class="data">
      <div class="metadata">
        <h2>Metadata</h2>

        <div>
          <span title="Date taken"><i class="fa fa-calendar"></i></span>
          <span id="md-taken"></span>
        </div>

        <div>
          <span title="Dimensions"><i class="fa fa-photo"></i></span>
          <span>
            <span id="md-width"></span> &times; <span id="md-height"></span>
          </span>
        </div>

        <div>
          <span title="MD5 checksum"><i class="fa fa-check-square-o"></i></span>
          <span id="md-md5"></span>
        </div>

        <div>
          <span title="Open in new tab"><i class="fa fa-external-link"></i></span>
          <span id="md-new-tab"><a href="">Open in new tab</a></span>
        </div>

        <div>
          <span title="Download"><i class="fa fa-download"></i></span>
          <span id="md-download"><a href="">Download</a></span>
        </div>
      </div>

      <div class="exif">
        <h2>EXIF</h2>

        <div class="camera">
          <div><img src="{% static 'exif/camera.svg' %}" title="Camera"><img src="{% static 'exif/lens.svg' %}" title="Lens"></div>
          <div id="exif-camera"></div>
          <div id="exif-lens"></div>
        </div>

        <div class="exposure">
          <div>
            <div><img src="{% static 'exif/shutter-speed.svg' %}" title="Shutter speed"></div>
            <div id="exif-shutter-speed"></div>
          </div>

          <div>
            <div><img src="{% static 'exif/aperture.svg' %}" title="Aperture"></div>
            <div id="exif-aperture"></div>
          </div>

          <div>
            <div><img src="{% static 'exif/iso_speed.svg' %}" title="ISO speed"></div>
            <div id="exif-iso-speed"></div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navigation">
      <h2>Navigation</h2>

      <h3>Keyboard shortcuts</h3>
      <div>
        <span><i class="fa fa-arrow-left"></i> <i class="fa fa-arrow-right"></i> Browse photos</span>
      </div>

      <div>
        <span><i class="fa fa-arrow-up"></i> <i class="fa fa-arrow-down"></i> Skip to the first/last photo</span>
      </div>

      <br>

      <h3>Links</h3>
      <div>
        <span title="Album"><i class="fa fa-book"></i></span>
        {% for album in path %}
        <a href="{{ album.get_absolute_url }}">{{ album.name }}</a> {% if not forloop.last %}/{% endif %}
        {% endfor %}
      </div>

      <div>
         <span title="List of photos"><i class="fa fa-list"></i></span>
         <a href="{% url 'photos' %}">(return to list of photos)</a>
      </div>

      <div>
        <span title="Index"><i class="fa fa-home"></i></span>
        <a href="{% url 'index' %}">(return to index)</a>
      </div>
    </nav>
  </section>

  <footer>
    {% include "_reuse.html" %}
    {% include "_copyright.html" %}
  </footer>
{% endblock %}

{% block scripts %}
<script src="{% static 'photo.js' %}"></script>
{% endblock %}
