{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ page_title }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ DESCRIPTION }}">
<meta property="og:site_name" content="{{ TITLE }}">
<meta property="og:updated_time" content="{{ photo.taken|date:"c" }}">
<meta property="og:url" content="{{ BASE_URL }}{{ photo.get_absolute_url }}">

<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ photo.taken|date:"c" }}">
<meta property="article:modified_time" content="{{ photo.taken|date:"c" }}">

<meta property="og:image" content="{{ BASE_URL }}{{ photo.image.url }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="{{ photo.width }}">
<meta property="og:image:height" content="{{ photo.height }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ TWITTER }}">
<meta name="twitter:creator" content="{{ TWITTER }}">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ DESCRIPTION }}">
<meta name="twitter:image" content="{{ BASE_URL }}{{ photo.image.url }}">
{% endblock %}

{% block style %}
<style>
  body {
    margin: 0;
    width: 100%;
    max-width: none;
  }
</style>
<link rel="stylesheet" href="{% static 'photo.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
  <div id="api"
       data-api-get="{% url 'get_photo' %}"
       data-api-previous="{% url 'previous_photo' %}"
       data-api-next="{% url 'next_photo' %}"
       data-api-first="{% url 'first_photo' %}"
       data-api-last="{% url 'last_photo' %}"
       data-api-get-album-photos="{% url 'get_album_photos' %}">
  </div>

  <section id="photo"
           data-album-url="{{ album.get_absolute_url }}"
           data-path="{{ photo.get_path }}"
           data-md5="{{ photo.md5 }}"
           data-index=""
           data-width=""
           data-height="">
    <a href="">
      <img src="" alt="Photo {{ short_md5 }}: click to zoom" title="Click to zoom">
    </a>
  </section>

  <section id="other">
    <div class="data">
      <div class="metadata">
        <h2>Metadata</h2>

        <div>
          <span title="Sequence number"><i class="fa fa-list-ol"></i></span>
          <span>
            <span id="md-index"></span> / <span id="md-count">{{ album.photos.all.count }}</span>
          </span>
        </div>

        <div>
          <span title="Date taken"><i class="fa fa-calendar"></i></span>
          <span id="md-taken"></span>
        </div>

        <div>
          <span title="Location and timezone"><i class="fa fa-map-marker"></i></span>
          <span>
            <span id="md-location">{{ album.location }}</span> (<span id="md-timezone">{{ album.timezone }}</span>)
          </span>
        </div>

        <div>
          <span title="Dimensions"><i class="fa fa-photo"></i></span>
          <span>
            <span id="md-width"></span> &times; <span id="md-height"></span>
          </span>
        </div>

        <div>
          <span title="MD5 checksum"><i class="fa fa-check-square-o"></i></span>
          <span id="md-md5"></span>
        </div>

        <div>
          <span title="Open in new tab"><i class="fa fa-external-link"></i></span>
          <span id="md-new-tab"><a href="">Open in new tab</a></span>
        </div>

        <div>
          <span title="Download"><i class="fa fa-download"></i></span>
          <span id="md-download"><a href="">Download</a></span>
        </div>
      </div>

      <div class="exif">
        <h2>EXIF</h2>

        <div class="camera">
          <div><img src="{% static 'exif/camera.svg' %}" title="Camera"><img src="{% static 'exif/lens.svg' %}" title="Lens"></div>
          <div id="exif-camera"></div>
          <div id="exif-lens"></div>
        </div>

        <div class="exposure">
          <div>
            <div><img src="{% static 'exif/shutter-speed.svg' %}" title="Shutter speed"></div>
            <div id="exif-shutter-speed"></div>
          </div>

          <div>
            <div><img src="{% static 'exif/aperture.svg' %}" title="Aperture"></div>
            <div id="exif-aperture"></div>
          </div>

          <div>
            <div><img src="{% static 'exif/iso_speed.svg' %}" title="ISO speed"></div>
            <div id="exif-iso-speed"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="keyboard">
      <h2>Keyboard shortcuts</h2>
      <ul id="keyboard">
        <li><kbd>Left</kbd> <kbd>Right</kbd> View previous/next photo</li>
        <li><kbd>Up</kbd> <kbd>Down</kbd> Skip to first/last photo</li>
        <li><kbd>A</kbd> Return to album</li>
        <li><kbd>D</kbd> Download this photo</li>
        <li><kbd>H</kbd> Return home</li>
        <li><kbd>L</kbd> Return to album list</li>
      </ul>
    </div>

    <div class="links">
      <h2>Links</h2>
      <div>
        <span title="Album"><i class="fa fa-book"></i></span>
        {% for album in path %}
        <a href="{{ album.get_absolute_url }}">{{ album.name }}</a> {% if not forloop.last %}/{% endif %}
        {% endfor %}
      </div>

      <div>
         <span title="List of photos"><i class="fa fa-list"></i></span>
         <a href="{% url 'photos' %}">Return to album list</a>
      </div>

      <div>
        <span title="Index"><i class="fa fa-home"></i></span>
        <a href="{% url 'index' %}">Return home</a>
      </div>
    </div>
  </section>

  {% include "_photoswipe.html" %}

  <footer>
    {% include "_reuse.html" %}
    {% include "_copyright.html" %}
  </footer>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.js"></script>

<script src="{% static 'photo.js' %}"></script>
{% endblock %}
