{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Search | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/search.css' %}">
{% endblock %}

{% block content %}
  <header>
    <nav>
      <ul class="breadcrumbs">
        <li><h1 class="logo"><a href="{% url 'index' %}">Doktor Takes Photos</a></h1></li>
        <li><a href="{% url 'albums' %}">Photos</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <form id="search">
      <h2>Search</h2>

      <fieldset id="sort">
        <label>Sorting</label>

        <div>
          <label>Order by</label>

          <span>
            <input type="radio" id="taken" name="order" value="taken" checked>
            <label for="taken">Taken</label>
          </span>
          <span>
            <input type="radio" id="edited" name="order" value="edited">
            <label for="edited">Edited</label>
          </span>
          <span>
            <input type="radio" id="uploaded" name="order" value="uploaded">
            <label for="uploaded">Uploaded</label>
          </span>
        </div>

        <div>
          <label>Direction</label>

          <span>
            <input type="radio" id="new" name="direction" value="new" checked>
            <label for="new">Newest first</label>
          </span>
          <span>
            <input type="radio" id="old" name="direction" value="old">
            <label for="old">Oldest first</label>
          </span>
        </div>
      </fieldset>

      <fieldset>
        <label>Other</label>

        <div>
          <label for="name">Album</label>
          <input id="name" name="name" title="Album name" type="text">
        </div>

        <div>
          <label for="location">Location</label>
          <input id="location" name="location" title="Location" type="text">
        </div>

        <div>
          <label>Dimensions</label>

          <input id="width" name="width" title="Width" class="short" type="number">
          &times;
          <input id="height" name="height" title="Height" class="short" type="number">
        </div>

        <div>
          <label>Rating</label>

          <span>
            <input type="checkbox" id="rating-0" name="rating" value="0">
            <label for="rating-0">0</label>
          </span>
          <span>
            <input type="checkbox" id="rating-1" name="rating" value="1">
            <label for="rating-1">1</label>
          </span>
          <span>
            <input type="checkbox" id="rating-2" name="rating" value="2">
            <label for="rating-2">2</label>
          </span>
          <span>
            <input type="checkbox" id="rating-3" name="rating" value="3">
            <label for="rating-3">3</label>
          </span>
          <span>
            <input type="checkbox" id="rating-4" name="rating" value="4">
            <label for="rating-4">4</label>
          </span>
          <span>
            <input type="checkbox" id="rating-5" name="rating" value="5">
            <label for="rating-5">5</label>
          </span>
        </div>
      </fieldset>

      <button id="submit" type="button">Search</button>
    </form>
  </section>

  <hr>

  <h2 id="count-container"><span id="count">0</span> results</h2>

  <div id="api" data-api-search="{% url 'search_photos' %}"></div>
  <div id="page" data-page="1" data-pages="1" data-items-per-page="{{ items_per_page }}"></div>

  <div class="pagination above hidden"></div>
  <section id="photos"></section>
  <div class="pagination below hidden"></div>

  <hr>

  <footer>
    {% include "_reuse.html" %}
    {% include "_copyright.html" %}
  </footer>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/search.js' %}"></script>
{% endblock %}
