<template>
  <PlaceholderImage :width="1" :height="1" alt="Album thumbnail placeholder" />
</template>

<script>
import PlaceholderImage from "@/components/PlaceholderImage";

export default {
  components: {
    PlaceholderImage,
  },
};
</script>
