{% extends "errors/error.html" %}

{% block message %}
  <p>Something broke!</p>
  <p>If this problem persists, please send an email to
    <a href="mailto:doktorthehusky@gmail.com">doktorthehusky@gmail.com</a>
    with any details.
  </p>
{% endblock %}
