body {
  max-width: 1100px;
  margin-bottom: 3rem;
}

section {
  margin: 2rem 0;
}

h2 {
  margin: 0.5rem 0;
}

.album-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 1rem;
}

.album-form-container, .album-cover-container {
  width: 100%;

  @media (min-width: 1201px) {
    width: 50%;
  }
}

.album-cover-container {
  order: 1;

  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .album {
    max-width: 600px;
  }

  @media (min-width: 1201px) {
    order: 2;

    display: block;
    margin-bottom: 0;
    padding-left: 0.5rem;

    .album {
      max-width: unset;
      width: 100%;
    }
  }
}

.album-form-container {
  order: 2;

  @media (min-width: 1201px) {
    order: 1;
    padding-right: 0.5rem;
  }
}

#album-form-save {
  align-self: flex-end;
}

.modal-open {
  overflow: hidden;
}

.count {
  line-height: 1;
  margin: 1rem 0;
}

#album-set-parent-modal {
  position: fixed;
  z-index: 1;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}


#album-set-parent-container {
  $width: 70%;
  $padding: 0.5rem 2rem;

  background-color: black;
  border: 1px solid gainsboro;

  position: absolute;
  top: 10%;
  left: (100% - $width) / 2;

  width: $width;
  margin: 0 auto;
  padding: 0.5rem 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close {
    font-family: "Lekton", monospace;
    font-size: 2rem;
    line-height: 1;
    text-align: right;

    cursor: pointer;
  }
}


#counts,
#select,
#actions {
  margin-bottom: 0.5rem;
}

#actions {
  span:first-child {
    float: left;
  }

  #danger-zone {
    float: right;
  }
}

#delete-album {
  input, button {
    float: left;
  }

  button {
    padding: 2px 8px;
  }
}
