body {
  max-width: 1100px;
  margin-bottom: 3rem;
}

section {
  margin: 2rem 0;
}

h2 {
  margin: 0.5rem 0;
}

.album-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 1rem;
}

.album-form-container, .album-cover-container {
  width: 100%;

  @media (min-width: 1201px) {
    width: 50%;
  }
}

.album-cover-container {
  order: 1;

  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .album {
    max-width: 600px;
  }

  @media (min-width: 1201px) {
    order: 2;

    display: block;
    margin-bottom: 0;
    padding-left: 0.5rem;

    .album {
      max-width: unset;
      width: 100%;
    }
  }
}

.album-form-container {
  order: 2;

  @media (min-width: 1201px) {
    order: 1;
    padding-right: 0.5rem;
  }
}

#album-form-save {
  align-self: flex-end;
}

.count {
  line-height: 1;
  margin: 1rem 0;
}

.manage-photos {
  margin: 1rem 0;
}

.photo-actions {
  display: flex;
  justify-content: space-between;
}

.delete-album {
  display: flex;
  max-width: 600px;
}
