@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300,700');

// utilities
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

@mixin clearfix() {
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

// important colors
$blue: rgb(0, 120, 255);
$dark-gray: rgb(20, 20, 20);
$off-white: rgb(220, 220, 220);

// top-level elements
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $off-white;
  width: 80%;
  max-width: 1100px;
  margin: 2rem auto;
  background-color: $dark-gray;

  @media (min-width: 901px) {
    font-size: 1.2rem;
  }

  @media (min-width: 1501px) {
    font-size: 1.4rem;
  }
}

@mixin headings($scale) {
  $base: 1rem;

  h1 {
    font-size: pow($scale, 4) * $base;
  }
  h2 {
    font-size: pow($scale, 3) * $base;
  }
  h3 {
    font-size: pow($scale, 2) * $base;
  }
  h4 {
    font-size: pow($scale, 1) * $base;
  }
  h5 {
    font-size: pow($scale, 0) * $base;
  }
  h6 {
    font-size: pow($scale, -1) * $base;
  }
}

@include headings(1.33);

@media (min-width: 901px) {
  @include headings(1.4);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  margin-bottom: 1rem;
}
footer {
  color: gray;
  clear: both;
  margin-top: 1rem;

  @media (min-width: 1201px) {
    margin-top: 2rem;
  }
}
header, footer {
  text-align: center;
}

// other elements
a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code {
  color: $blue;
  background-color: $off-white;
  border: 1px solid $dark-gray;
  border-radius: 5px;
  padding: 2px 5px;
}

code, pre {
  font-family: Consolas, monospace;
}

figure {
  margin: 0;
}

figcaption {
  color: gray;
  text-align: center;
}

hr {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid gray;
  height: 1px;
}

img {
  display: block;
}

nav, pre, section {
  margin: 1rem 0;
}

@media (max-width: 600px) {
  nav {
    text-align: center;
  }
}

ol, ul {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

// useful classes
ul.breadcrumbs {
  $spacing: 0.75rem;

  list-style: none;
  clear: both;
  margin: 0;
  padding: 0;

  @include clearfix();

  li {
    line-height: 1;
    margin: 0 0 $spacing 0;
    float: left;
    text-align: left;
    width: 100%;

    &:not(:first-child):before {
      content: "/";
      position: relative;
      margin-right: $spacing;
    }

    @media (min-width: 601px) {
      width: auto;
      margin: 0;

      &:not(:first-child):before {
        content: "";
        margin: 0;
        visibility: hidden;
      }

      &:not(:last-child):after {
        color: $off-white;
        content: "/";
        margin: 0 $spacing;
        position: relative;
      }
    }
  }
}

.clearfix {
  width: 100%;
  @include clearfix();
}

.copyright {
  font-style: italic;
}

.hidden {
  display: none;
}

.pagination {
  text-align: left;

  &.above {
    margin: 1rem 0;
  }

  &.below {
    margin: 1rem 0 2rem 0;
  }

  .page, .skip {
    margin-right: 6px;
    padding: 4px 8px;

    color: rgb(220, 220, 220);
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 2px;
  }

  .page {
    cursor: pointer;

    &.selected, &:hover {
      background-color: rgb(100, 100, 100);
    }

    &, &:hover {
      transition: background-color 0.25s;
    }
  }

  .skip {
    width: 60px;
  }

  // Prevent selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
