@import url('https://fonts.googleapis.com/css?family=Lekton:400,700');

// mixins
@mixin clearfix() {
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

@mixin fade() {
  img {
    filter: brightness(1.0);
  }

  &:hover img {
    filter: brightness(0.8);
  }

  img, &:hover img {
    transition: filter 0.2s ease-in-out;
  }
}

// colors
$borderColor: rgb(200, 200, 200);

// general
*::selection {
  background-color: rgb(0, 120, 255);
}
*::-moz-selection {
  background-color: rgb(0, 120, 255);
}

body {
  width: 90%;
  text-align: center;
  max-width: 90%;

  &.left {
    text-align: left;
  }
  &.small {
    max-width: 1200px;
  }
}

$spacing: 1.75rem;

header {
  @include clearfix();

  margin: 1rem 0;

  .navlinks {
    font-size: 1.8rem;
    width: 100%;

    a {
      color: rgb(160, 160, 160);

      &:hover {
        color: rgb(220, 220, 220);
      }
    }

    a, a:hover {
      text-decoration: none;
      transition: color 0.2s;
    }
  }

  #tagline {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    margin: 1rem 0;
    width: 100%;
    color: rgb(220, 220, 220);
  }
}

footer {
  font-family: "Lekton", monospace;
  text-transform: lowercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lekton", monospace;
  text-transform: lowercase;
}

$logo: 2.4rem;

.logo {
  font-size: $logo;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;

  margin: 0;
  padding: 0;

  &.large {
    font-size: 4.2rem;
    margin: 1rem 0;
  }
}

.navlinks {
  $border: rgb(100, 100, 100);

  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-family: "Lekton", monospace;
  text-transform: lowercase;

  li {
    margin: 0 ($spacing / 2);
    line-height: $logo;

    &.divider {
      color: $border;
      margin: 0;

      @media (min-width: 901px) {
         margin: 0 ($spacing / 2);

         &::before {
          content: "|";
        }
      }
    }
  }
}

@media (min-width: 601px) {
  nav .breadcrumbs li {
    line-height: $logo;
  }
}

.navbar {
  $border: rgb(100, 100, 100);

  @include clearfix();

  padding-bottom: 1.5rem;
  border-bottom: 1px solid $border;
  margin-top: -0.5rem;

  a {
    color: rgb(220, 220, 220);
  }
}

#featured {
  $spacing: 10px;
  $width: 400px;

  width: 100%;
  margin: 1rem 0 0 0;

  .container {
    width: 100%;
  }

  .grid-sizer,
  .item {
    width: 100%;
    padding: $spacing;

    @media (min-width: $width * 2 + 1) and (max-width: $width * 3) {
      float: left;
      width: (100% / 2);
    }
    @media (min-width: $width * 3 + 1) {
      float: left;
      width: (100% / 3);
    }

    img {
      width: 100%;
      border: 1px solid rgb(220, 220, 220);
    }

    @include fade();
  }
}

.view-more {
  margin-top: 10px;
  margin-bottom: 10px * 2;
}

.note {
  color: rgb(150, 150, 150);
  font-style: italic;
}

.warning {
  font-weight: 700;
}

#photos,
.children {
  $spacing: 0.4rem;
  $width: 300px;

  @include clearfix();

  margin: 1rem (-$spacing);

  .wrapper {
    padding: $spacing;
    float: left;

    &.empty {
      padding: 0;
    }

    @media (max-width: $width * 1) {
      float: none;
      width: 100%;
    }
    @media (min-width: $width * 1 + 1) and (max-width: $width * 2) {
      width: (100% / 2);
    }
    @media (min-width: $width * 2 + 1) and (max-width: $width * 3) {
      width: (100% / 3);
    }
    @media (min-width: $width * 3 + 1) and (max-width: $width * 4) {
      width: (100% / 4);
    }
    @media (min-width: $width * 4 + 1) and (max-width: $width * 5) {
      width: (100% / 5);
    }
    @media (min-width: $width * 5 + 1) {
      width: (100% / 6);
    }

    @include fade();

    &.selected img {
      filter: brightness(0.3);
    }
  }

  .photo {
    position: relative;

    img {
      display: block;
      width: 100%;
      border: 1px solid $borderColor;
    }
  }
}

#albums {
  $spacing: 10px;
  $width: 400px;

  margin: 0 (-$spacing) 1rem (-$spacing);
  text-align: center;

  @include clearfix();

  .wrapper {
    padding: $spacing;

    @media (max-width: $width) {
      width: 100%;
    }
    @media (min-width: $width * 2 + 1) and (max-width: $width * 3) {
      float: left;
      width: (100% / 2);
    }
    @media (min-width: $width * 3 + 1) {
      float: left;
      width: (100% / 3);
    }
  }

  .album {
    position: relative;
    border: 1px solid $borderColor;

    @include fade();

    img {
      width: 100%;
    }

    // Title container
    .title {
      position: absolute;
      bottom: 0;
      background-color: rgba(20, 20, 20, 0.8);
      width: 100%;
    }

    // Title
    h3 {
      font-weight: 300;
      line-height: 1;
      color: white;

      font-size: 1.35rem;
      margin: 0.8rem;
      text-transform: lowercase;

      @media (min-width: 1501px) {
        font-size: 1.45rem;
        margin: 1rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .no-cover .note {
      position: absolute;
      top: 45%;
      width: 100%;
    }
  }
}

.pagination {
  margin: 1rem 0;
}

.no-margin-fix {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// messages
#messages {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}
.message {
  padding: 0.5rem;
  border: 2px solid;
  font-weight: 400;

  &.success {
    $base: #00CB8A;
    color: white;
    background-color: $base;
    border-color: darken($base, 20%);
  }
  &.warning {
    $base: #FFEA00;
    color: #222222;
    background-color: $base;
    border-color: darken($base, 20%);
}
  &.error {
    $base: #FF5959;
    color: white;
    background-color: $base;
    border-color: darken($base, 20%);
  }
}

// forms
form .row {
  $width: 20%;

  @include clearfix();

  > label {
    width: $width;
  }

  > .field-wrapper {
    width: 100% - $width;
    float: right;
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

fieldset {
  width: 100%;
  padding: 0;
  border: 0;
  margin-bottom: 1rem;
}

legend {
  margin-bottom: 0.5rem;
}

input:not([type="radio"]), select, textarea {
  width: 100%;
  border: 2px solid black;

  &:active, &:focus {
    border-color: rgb(0, 120, 255);
  }
}

input:not([type="file"]), select, textarea {
  padding: 4px 8px;
}

textarea {
  display: block;
  height: 7rem;
}

input[type="radio"] + label {
  text-align: right;
  margin: 0 0.5rem 0 0.15rem;
}

label, .field-wrapper {
  vertical-align: middle;
}


//
#login, #new-album {
  max-width: 600px;
  margin: 0 auto;

  fieldset {
    border: 1px solid;
    margin-bottom: 1rem;
    padding: 0.75rem 1.25rem;
  }
}


#album-list-simple {
  a {
    color: rgb(0, 120, 255);
  }

  ul ul {
    padding: 0;
    margin: 0 0 0 2rem;
  }
}

#album-list-detailed {
  a {
    color: rgb(220, 220, 220);
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  ul ul {
    margin-left: 2rem;
  }

  @media (min-width: 901px) {
    ul ul {
      margin-left: 4rem;
    }
  }

  .row {
    @media (min-width: 901px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    background-color: rgb(20, 20, 20);
    margin: 1rem 0;
    border: 1px solid $borderColor;
    clear: both;
    cursor: pointer;

    &:hover {
      background-color: rgb(40, 40, 40);
      box-shadow: 0 0 1rem white;
    }

    &, &:hover {
      transition: background-color 0.3s ease-in-out;
    }
  }

  .cover {
    width: 100%;
    position: relative;

    img {
      width: 100%;
    }

    .no-cover .note {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 45%;
    }
  }

  .details {
    width: 100%;
    text-align: left;
    padding: 1rem;

    h3 {
      margin: 0;
      line-height: 1.25;
    }

    > ul {
      list-style: none;
      clear: both;
      margin: 0;
      padding: 0;
      @include clearfix();
    }

    li {
      float: left;

      &:not(:last-child):after {
        color: rgb(220, 220, 220);
        content: "\2022";
        margin: 0 0.5rem;
      }
    }
  }

  @media (min-width: 901px) {
    .cover {
      width: 20%;
      float: left;

      img {
        border-right: 1px solid $borderColor;
      }
    }

    .details {
      width: 80%;
      float: left;
      padding-left: 1.5rem;
      margin: auto 0;
    }
  }
}

#panorama-list {
  img {
    width: 100%;
  }
}

.album-nav {
  @include clearfix();

  .breadcrumbs {
    float: left;
  }
}

ul.edit-links, ul.edit-links-center {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Lekton", monospace;

  li {
    &:not(:last-child)::after {
      color: gainsboro;
      content: "/";
      margin: 0 0.75rem;
      position: relative;
    }
  }
}

ul.edit-links {
  float: right;

  li {
    float: left;
    line-height: $logo;
  }
}

ul.edit-links-center {
  li {
    display: inline-block;
  }
}

.location, .date, .count {
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 400;

  text-transform: none;
  color: gainsboro;
}

.location, .date {
  line-height: 3rem;
}

.count {
  margin: 1.5rem 0 1rem 0;
}

#album, #panorama {
  margin-bottom: 0;

  @include clearfix();

  .cover {
    width: 100%;
    height: 30vh;
    border: 1px solid gainsboro;

    position: relative;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title-container {
    position: absolute;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 0.5rem 1rem;
    margin-bottom: 1.25rem;
    margin-left: 1.25rem;
  }

  .title {
    font-size: 3.2rem;
    line-height: 3.2rem;

    text-align: left;
    text-transform: none;
    text-shadow: 1px 1px 2px black;
  }

  .description {
    margin: 1rem 0;
  }
}

.breadcrumbs {
  font-family: "Lekton", monospace;
  text-transform: lowercase;
}
