@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import url('https://fonts.googleapis.com/css?family=Contrail+One:400,700');

/* Mixins */

@mixin clearfix() {
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

@mixin fade() {
  img {
    filter: brightness(1.0);
  }

  &:hover img {
    filter: brightness(0.8);
  }

  img, &:hover img {
    transition: filter 0.2s ease-in-out;
  }
}

@mixin fade($t: opacity 0.2s ease-in-out) {
  -webkit-transition: $t;
  -moz-transition: $t;
  -o-transition: $t;
  -ms-transition: $t;
  transition: $t;
}

/* Primary colors */

$borderColor: rgb(200, 200, 200);
$text: rgb(220, 220, 220);
$blue: rgb(0, 120, 255);

/* Typefaces */

@mixin primary-font() {
  font-family: "Contrail One", sans-serif;
  letter-spacing: -0.05rem;
}

@mixin secondary-font() {
  font-family: "Roboto", sans-serif;
}

// Other

$itemSpacing: 0.5rem;


/* General */

*::selection,
*::-moz-selection {
  background-color: $blue;
}

body {
  width: 90%;
  max-width: 90%;

  @include secondary-font();
  text-align: center;

  @media (min-width: 901px) {
    width: 95%;
    max-width: 95%;
  }

  &.small {
    text-align: left;
    max-width: 1200px;
  }
}

footer {
  @include primary-font();
  text-transform: lowercase;

  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  @include primary-font();
  text-transform: lowercase;
}

/* Generic classes */

// Index page tagline
.tagline {
  @include primary-font();
  color: $text;
  font-size: 1.6rem;
  font-weight: 400;

  margin: 1rem 0;
  width: 100%;
}

.note {
  color: rgb(150, 150, 150);
  font-style: italic;
}

.warning {
  font-weight: 700;
}

.breadcrumbs {
  $spacing: 0.75rem;

  @include primary-font();
  font-size: 1.3rem;
  line-height: 1;
  text-transform: lowercase;

  list-style: none;
  margin: 0;
  padding: 0;

  // Bookmark icon
  .breadcrumbs-icon i {
    display: inline;
    vertical-align: middle;
    margin-right: 0.2rem;
  }

  // 1st breakpoint: one item per line
  li {
    display: inline-block;
    margin: 0 0 $spacing 0;
    text-align: left;
    float: left;
    width: 100%;

    @mixin hide() {
      content: "";
      margin: 0;
      visibility: hidden;
    }

    // Separator at start of item
    &:not(:first-child)::before {
      content: "\002192";  // Right arrow
      color: gray;
      position: relative;
      margin-right: $spacing;
    }
    &:not(:last-child)::after {
      @include hide();
      color: gray;
    }

    // 2nd breakpoint: all items on one line
    @media (min-width: 601px) {
      width: auto;
      margin: 0;

      // Separator at end of item
      &:not(:first-child)::before {
        @include hide();
      }
      &:not(:last-child)::after {
        content: "/";
        margin: 0 $spacing;
        position: relative;
        visibility: visible;
      }
    }
  }
}

/* Pagination */

.pagination {
  @include primary-font();
  text-align: left;

  display: flex;
  justify-content: space-between;

  margin: 0;

  &.pagination-above {
    margin-top: 2 * $itemSpacing;
    margin-bottom: $itemSpacing;
  }

  .albums ~ &.pagination-above {
    margin: $itemSpacing 0;
  }

  &.pagination-below {
    margin-top: $itemSpacing;
    margin-bottom: 2 * $itemSpacing;
  }

  font-size: 1.25rem;
  line-height: 1;

  // '.page-skip' is nested because its specificity isn't high enough to
  // override the 'input' selectors

  .page, .page-skip {
    display: inline-block;

    color: gainsboro;
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(80, 80, 80);
    padding: 8px 12px;
  }

  .page {
    cursor: pointer;
    border-right: 0;

    // "..." button
    &:not([data-page]) {
      letter-spacing: -3px;
      padding: 8px 10px;
    }

    &:last-child {
      border-right: 1px solid rgb(80, 80, 80);
    }

    &.selected, &.selected:hover {
      background-color: $blue;
    }

    &:hover {
      background-color: rgb(80, 80, 80);
    }

    &, &:hover {
      transition: background-color 0.25s;
    }
  }

  .page-skip {
    width: 80px;

    & + .page {
      border-left: none;
    }
  }

  // Prevent selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Header and navigation bar */

// Base font size
$nav-font-size: 1.5rem;
$nav-font-size-index: $nav-font-size * 1.25;
$logo-size: $nav-font-size * 1.5;

// Color of nav items (on the index page)
$nav-item-color: rgb(160, 160, 160);

// Color of nav dividers (on non-index pages)
$nav-divider-color: rgb(120, 120, 120);

// Spacing between nav items
$nav-item-spacing: 1.5rem;

.logo {
  line-height: 1;
  text-align: center;
  text-transform: capitalize;

  padding: 0;
  margin: 0 0 1rem 0;

  // Standard size

  font-size: $logo-size;

  @media (min-width: 901px) {
    font-size: $logo-size * 1.15;
    margin: 0;
  }

  // Large size: index page

  &.logo-large {
    margin: 1rem 0;
    font-size: $logo-size * 1.25;

    @media (min-width: 901px) {
      font-size: $logo-size * 1.5;
    }
  }
}

// Navigation bar
.nav {
  padding-bottom: 1.5rem;
  margin-top: -0.5rem;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include primary-font();
  font-size: $nav-font-size;
  text-transform: lowercase;

  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 ($nav-item-spacing / 2);

  // Vertical alignment
  @media (min-width: 901px) {
    line-height: $logo-size * 1.15;
  }
}

// Change color of items on hover
@mixin nav-item-hover($property) {
  #{$property}: $nav-item-color;

  &:hover {
    #{$property}: $text;
  }

  &, &:hover {
    text-decoration: none;
    transition: #{$property} 0.25s;
  }
}

.nav-item-link {
  color: $text;

  &-profile {
    color: $blue;
  }

  &-log-out {
    color: red;
  }

  .nav-items-index & {
    @include nav-item-hover(color);

    @media (min-width: 901px) {
      font-size: $nav-font-size-index;
    }
  }
}

// Displays a Font Awesome icon in a circle
// The icon element should be the only child element of a container element
// with this class.
.fa-stack {
  display: flex;
  justify-content: center;
  align-items: center;

  // Background: circle
  width: 24px;
  height: 24px;
  border-radius: 100%;

  color: rgb(20, 20, 20);
  background-color: $text;

  .nav-items-index & {
    @include nav-item-hover(background-color);

    @media (min-width: 901px) {
      width: $nav-font-size-index;
      height: $nav-font-size-index;
    }
  }

  // Foreground: icon
  i {
    font-size: 55%;
  }
}

.nav-item-fa-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}

.nav-divider {
  color: $nav-divider-color;
  margin: 0 ($nav-item-spacing / 3) !important;

  &::before {
    content: "\00b7";  // Center dot
  }
}

.nav-secondary {
  display: flex;
}

/* Button: "view more" */

.view-more {
  margin: 1rem (-$itemSpacing);
}

.view-more-wrapper {
  padding: $itemSpacing;

  @media (min-width: 901px) {
    width: (100% / 3);
    margin-left: (100% / 3);
  }
}

.view-more-link {
  display: block;

  @include primary-font();
  line-height: 1;

  border: 1px solid $blue;
  padding: 1rem;

  &:hover {
    background-color: $blue;
    color: rgb(220, 220, 220);
    text-decoration: none;
  }

  &, &:hover {
    transition: 0.2s background-color, 0.2s color;
  }
}

/* Forms */

$form-border-radius: 4px;
$form-font-size: 1.3rem;

// Margin above/below input elements
$inputMargin: 5px;

form {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 1rem;
  border-radius: $form-border-radius;

  background-color: rgb(40, 40, 40);
}

.form--1-column {
  flex-direction: column;
  align-items: center;
}

.form--2-columns {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;

  .form-column {
    width: 100%;
    margin: 0;
  }

  fieldset {
    padding: 1rem;
    border: 1px solid rgb(60, 60, 60);
    border-radius: $form-border-radius;
  }

  @media (min-width: 901px) {
    .form-column {
      width: 50%;
    }

    .form-column-1 {
      padding-right: 0.5rem;
    }

    .form-column-2 {
      padding-left: 0.5rem;
    }
  }
}

fieldset {
  display: block;

  width: 100%;

  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 1rem;
}

legend {
  padding: 0 0.5rem;
  margin-left: -0.5rem;
  margin-bottom: 0.5rem;

  @include primary-font();
  text-transform: lowercase;
  text-align: center;
  line-height: 1;
  font-size: 150%;
  font-weight: 700;
}

textarea {
  display: block;
}

input, textarea {
  background-color: rgb(60, 60, 60);
  border: 1px solid rgb(80, 80, 80);
  border-radius: $form-border-radius;
  color: $text;

  &:active, &:focus {
    border: 1px solid $blue;
  }
}

input:disabled {
  background-color: rgb(20, 20, 20);
  border-color: rgb(20, 20, 20);

  cursor: not-allowed;
}

input[type="date"],
input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px 10px;

  font-size: $form-font-size;
  line-height: 1;
}

label {
  display: block;

  width: 100%;
  margin-bottom: 0.5rem;

  font-size: $form-font-size;
  line-height: 1;
  font-weight: bold;
  text-align: left;
}

.field-wrapper {
  display: flex;
  justify-content: start;
}

.form-control-options {
  display: flex;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
    visibility: hidden;

    // Change the appearance of the label to a button
    & + label {
      flex-basis: 100%;

      padding: 12px 0;
      margin: 0;

      background: rgb(60, 60, 60);
      border: 1px solid rgb(80, 80, 80);
      color: $text;

      font-weight: normal;
      text-align: center;

      // First choice
      &:first-of-type {
        border-radius: $form-border-radius 0 0 $form-border-radius;
      }

      // Middle choices
      &:not(:last-child) {
        border-right: 0;
      }

      // Last choice
      &:last-of-type {
        border-radius: 0 $form-border-radius $form-border-radius 0;
      }
    }

    &:checked + label {
      background: $blue;
      border-color: $blue;
      color: white;
    }
  }
}

.form--small {
  max-width: 600px;
  margin: 0 auto;
}

.form-control {
  margin-bottom: 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-link-action {
  text-align: right;
  margin-top: 0.2rem;
}

.form-note {
  width: 100%;
  margin-top: $inputMargin;

  font-size: 80%;
}

.form-error {
  margin-top: 5px;

  color: red;
  font-size: 80%;
}

.field--invalid {
  border: 1px solid red;
}

// Form: buttons

.form-buttons {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.form-button {
  display: block;

  width: 110px;
  padding: 12px 0;
  border: 0;
  border-radius: $form-border-radius;

  background-color: $text;
  color: rgb(20, 20, 20);

  text-align: center;
  line-height: 1;

  cursor: pointer;

  &:hover {
    background-color: lighten($text, 15%);
  }

  &, &:hover {
    text-decoration: none;
    transition: background-color 0.3s;
  }

  &-primary {
    background-color: $blue;
    color: white;

    &:hover {
      background-color: lighten($blue, 15%);
    }
  }

  &-secondary {
    //
  }
}

// Form: range inputs

$separator-width: 5%;

.form-control-range-input {
  display: flex;

  input, select, textarea {
    width: (100% - $separator-width) / 2;
  }
}

.form-control-range-input-separator {
  width: $separator-width;

  text-align: center;
}

/* Messages and notifications */

#messages {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  z-index: 10000;
}

.message {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;

  cursor: pointer;

  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(220, 220, 220);
  color: rgb(220, 220, 220);

  opacity: 0;

  &.success {
    $base: #00CB8A;
    background-color: $base;
    border-color: darken($base, 20%);
    color: rgb(20, 20, 20);
  }

  &.warning {
    $base: #FFEA00;
    background-color: $base;
    border-color: darken($base, 20%);
    color: rgb(20, 20, 20);
  }

  &.error {
    $base: #FF5959;
    background-color: $base;
    border-color: darken($base, 20%);
    color: rgb(20, 20, 20);
  }

  &.visible {
    opacity: 1;
  }

  &, &.visible {
    @include fade();
  }

  & + & {
    border-top: 0 !important;
  }
}

/* Photos */

$photoWidth: 300px;

.photos {
  display: flex;
  flex-wrap: wrap;

  margin: $itemSpacing (-$itemSpacing);
}

.photo-wrapper {
  padding: $itemSpacing;

  @media (max-width: $photoWidth * 1) {
    width: 100%;
  }
  @for $i from 1 through 4 {
    @media (min-width: $photoWidth * ($i) + 1) and
           (max-width: $photoWidth * ($i + 1)) {
      width: 100% / ($i + 1);  // 50%, 33%, 25%, 20%
    }
  }
  @media (min-width: $photoWidth * 5 + 1) {
    width: (100% / 6);
  }

  &.empty {
    padding: 0;
  }

  &.selected img {
    filter: brightness(0.3);
  }

  @include fade();
}

.photo {
  img {
    width: 100%;
  }
}

.photo-no-thumbnail-note {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

/* Albums */

$albumWidth: 400px;

.albums {
  display: flex;
  flex-wrap: wrap;

  margin: $itemSpacing (-$itemSpacing);
}

.album-wrapper {
  padding: $itemSpacing;

  @media (max-width: $albumWidth * 2) {
    width: 100%;
  }
  @media (min-width: $albumWidth * 2 + 1) and (max-width: $albumWidth * 3) {
    width: (100% / 2);  // 50%
  }
  @media (min-width: $albumWidth * 3 + 1) {
    width: (100% / 3);  // 33%
  }

  @include fade();
}

.album {
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }
}

// Album title container
.album-title {
  position: absolute;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.8);
  width: 100%;

  // Text
  div {
    @include primary-font();
    color: $text;
    font-size: 1.35rem;
    line-height: 1;
    text-align: center;
    text-transform: lowercase;

    margin: 0.8rem;

    @media (min-width: 1501px) {
      font-size: 1.45rem;
      margin: 1rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  // Hidden albums
  .album-hidden & div {
    color: red;
  }
}

.album-no-cover {
  background: rgb(40, 40, 40);
}

// Placeholder text
.album-no-cover-note {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

/* Album search */

.album-search-container {
  width: 100%;
  margin: 1rem 0;

  input {
    background-color: rgb(20, 20, 20);
    border: 1px solid $text;

    height: 3.2rem;
    padding: 6px 12px;

    @include primary-font();
    color: $text;
    font-size: 1.5rem;
    line-height: 1;
  }
}

#no-results {
  margin: 1rem 0;
}

.count {
  @include primary-font();
  color: $text;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  text-transform: none;

  margin: 1rem 0;
}

/* Album lists */

.album-list-simple {
  //
}

.album-list-simple-items {
  & & {
    padding: 0;
    margin: 0 0 0 2rem;
  }
}

.album-list-dc {
  a {
    color: $text;
    text-decoration: none;
  }
}

.album-list-dc-items {
  list-style: none;
  padding-left: 0;

  & & {
    margin-left: 2rem;

    @media (min-width: 901px) {
      margin-left: 4rem;
    }
  }
}

.album-list-dc-row {
  background-color: rgb(20, 20, 20);
  margin: 1rem 0;
  border: 1px solid $borderColor;
  clear: both;
  cursor: pointer;

  @media (min-width: 901px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0 1rem white;
  }

  &, &:hover {
    transition: background-color 0.3s ease-in-out;
  }
}

.album-list-dc-cover {
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }

  @media (min-width: 901px) {
    width: 20%;
    float: left;

    img {
      border-right: 1px solid $borderColor;
    }
  }
}

.album-list-dc-details {
  width: 100%;
  text-align: left;
  padding: 1rem;

  @media (min-width: 901px) {
    width: 80%;
    float: left;
    padding-left: 1.5rem;
    margin: auto 0;
  }

  // Name
  h3 {
    margin: 0;
    line-height: 1.25;
  }

  // Metadata
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Metadata items
  // Start and end dates, photo count, location
  li {
    display: inline-block;

    &:not(:last-child)::after {
      color: $text;
      content: "\2022";
      margin: 0 0.5rem;
    }
  }
}

/* Album edit links */

ul.group-edit-links, ul.edit-links-center {
  list-style: none;
  margin: 0;
  padding: 0;

  @include primary-font();

  li:not(:last-child)::after {
    color: $text;
    content: "/";
    margin: 0 0.75rem;
    position: relative;
  }
}

ul.group-edit-links {
  float: right;

  li {
    float: left;
    line-height: $nav-font-size;
  }
}

ul.edit-links-center {
  li {
    display: inline-block;
  }
}

/* Groups of photos, including albums */

$group-row-spacing: 0.75rem;

.group {
  margin: -1rem 0 0 0;
}

.group-nav {
  @include clearfix();

  .breadcrumbs {
    float: left;
  }
}

.group-cover {
  width: 100%;
  height: 50vh;

  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.group-cover-no-image {
  background: rgb(40, 40, 40);
}

.group-inset {
  // Spacing from the edges of the image
  $spacing: 1.25rem;

  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);

  padding: 1rem;
  bottom: 0;

  // Bottom-center
  margin-bottom: $spacing;
  left: 50%;
  transform: translateX(-50%);

  // Bottom-left
  @media (min-width: 901px) {
    margin-left: $spacing;
    left: unset;
    transform: none;
  }
}

.group-inset-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: $group-row-spacing;
}

.group-inset-text {
  text-shadow: 1px 1px 2px black;
  text-align: center !important;

  @media (min-width: 901px) {
    text-align: left !important;
  }

  @include primary-font();
  font-size: 1.5rem;
  line-height: 1;
  white-space: nowrap;

  &:not(:last-child) {
    margin-bottom: $group-row-spacing;
  }
}

.group-menu-button {
  align-self: center;
  margin-left: 0.75rem;

  background-color: rgba(20, 20, 20, 0.65);
  color: white;
  border: none;
}

.group-title {
  display: inline-block;
  margin: 0;

  font-size: 3.0rem;
  line-height: 1;
  text-transform: none;
}

.group-info {
  margin: 1.25rem 0 $group-row-spacing 0;
}

.group-info-item {
  @include primary-font();
  font-size: 1.5rem;
  line-height: 1;
  text-align: left;
  text-transform: none;

  i {
    margin-right: 6px;
  }

  &:not(:last-child) {
    margin-bottom: $group-row-spacing;
  }

  &.group-description {
    line-height: 1.15;
  }
}

/* Changelog */
.commit-hash {
  font-family: Consolas, monospace;
}

/* Photo wall */
.photo-wall {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
}

.photo-wall-item {
  width: (100% / 5);

  @media (min-width: 901px) and (max-width: 1500px) {
    width: (100% / 8);
  }
  @media (min-width: 1501px) {
    width: (100% / 10);
  }

  filter: brightness(1.0);

  &:hover {
    filter: brightness(0.6);
  }

  &, &:hover {
    transition: filter 0.2s ease-in-out;
  }

  img {
    width: 100%;
  }
}
