@mixin clearfix() {
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

#photo {
  width: 100%;
  margin: 0;

  img {
    max-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
  }
}

#filmstrip {
  display: flex;
  align-items: center;
  justify-content: center;
}

#filmstrip-container {
  $fadeTime: 0.2s;

  & {
    transform-origin: top;
    transition-delay: 0.5s !important;
  }

  &:hover {
    transform: scale(1.5);
    transition-delay: 0s !important;
  }

  &, &:hover {
    transition: transform 0.2s ease-in-out;
  }

  .item {
    display: inline-block;
    opacity: 0.35;

    &:hover, &.selected {
      opacity: 1;
    }

    &, &:hover {
      transition: opacity $fadeTime ease-in-out;
    }

    .index {
      font-size: 0.8rem;
      font-family: "Lekton", monospace;
      line-height: 1;

      margin-top: 0.45rem;
      opacity: 0;
    }

    &:hover .index {
      transition: opacity $fadeTime ease-in-out;
    }

    &.selected .index, &:hover .index {
      opacity: 1 !important;
    }
  }

  img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 4px;
    border: 1px solid gainsboro;

    clear: both;
    cursor: pointer;
  }
}

.info, footer {
  margin: 0 auto;
  width: 90%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  text-align: left;
  margin-top: 2rem;
}

.info > div {
  width: 100%;
  margin-bottom: 1rem;

  @media (min-width: 901px) {
    width: 50%;
  }
}

#md-md5 {
  font-family: "Consolas", monospace;
  line-height: 1;
  word-break: break-all;
}

dl, dt, dd {
  margin: 0;
}

dt, dd {
  display: inline;
}

.info-keyboard {
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  dt {
    font-size: 0;
    margin-right: 0.35rem;
  }
}

kbd {
  border: 2px solid rgb(100, 100, 100);
  border-radius: 3px;
  padding: 0 5px;

  background-color: rgb(60, 60, 60);
  color: rgb(220, 220, 220);

  font-family: "Consolas", monospace;
  font-size: 14pt;
  font-weight: 700;

  & + kbd {
    margin-left: 0.35rem;
  }

  i {
    padding: 0 3px;

    font-size: 10pt;
    font-weight: unset;
  }
}
