@use "sass:math";
@use "variables";

// Top-level elements

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection,
*::-moz-selection {
  background-color: variables.$text-blue;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  @include variables.text-font();
  color: variables.$text-color;
  font-size: 1.4rem;
  text-align: center;

  background-color: variables.$background-color;

  margin: variables.$page-margin;
}

// Headers and footers

@mixin headers($scale) {
  h1 {
    font-size: pow($scale, 4) * 1rem;
  }
  h2 {
    font-size: pow($scale, 3) * 1rem;
  }
  h3 {
    font-size: pow($scale, 2) * 1rem;
  }
  h4 {
    font-size: pow($scale, 1) * 1rem;
  }
  h5 {
    font-size: pow($scale, 0) * 1rem;
  }
  h6 {
    font-size: pow($scale, -1) * 1rem;
  }
}

@include headers(1.33);

@media (width >= variables.$full-layout-breakpoint + 1) {
  @include headers(1.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include variables.headings-font();
  margin: 0;
  text-transform: lowercase;
}

h1,
h2 {
  margin-bottom: 2rem;
}

h3,
h4 {
  margin-bottom: 1.5rem;
}

h5,
h6 {
  margin-bottom: 1rem;
}

header,
footer {
  text-align: left;
}

// Other elements

a {
  color: variables.$text-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

b {
  font-weight: 700;
}

dl {
  margin: 0;
}

dt,
dd {
  display: inline;
  margin: 0;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
}

hr {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid gray;
  height: 1px;
}

img {
  display: block;
}

pre,
section {
  margin: 1rem 0;
}

ol,
ul {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

table {
  margin: 0 auto;
  width: 100%;
}

thead {
  background-color: variables.$background-color-3;
  text-align: center;
}

tbody {
  text-align: left;
}

th,
td {
  padding: 4px 8px;
}

tr:nth-child(even) {
  background-color: variables.$background-color-2;
}

/* Generic classes */

.hidden {
  display: none !important;
}

.note {
  color: variables.$text-color-2;
  font-style: italic;
}

// Placeholder text
.album-no-cover-note {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

/* Photo wall */
.photo-wall {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
}

.photo-wall-item {
  width: 256px;

  filter: brightness(1);

  &:hover {
    filter: brightness(0.6);
  }

  &,
  &:hover {
    transition: filter 0.2s ease-in-out;
  }

  img {
    width: 100%;
  }
}
