@use "sass:math";
@import "variables";

// Top-level elements

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection,
*::-moz-selection {
  background-color: $text-blue;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  @include text-font();
  color: $text-color;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;

  margin: 0 auto;
  background-color: $background-color;

  width: 90%;
  max-width: 90%;

  @media (min-width: 901px) {
    width: 95%;
    max-width: 95%;
  }
}

// Headers and footers

@mixin headers($scale) {
  h1 {
    font-size: pow($scale, 4) * 1rem;
  }
  h2 {
    font-size: pow($scale, 3) * 1rem;
  }
  h3 {
    font-size: pow($scale, 2) * 1rem;
  }
  h4 {
    font-size: pow($scale, 1) * 1rem;
  }
  h5 {
    font-size: pow($scale, 0) * 1rem;
  }
  h6 {
    font-size: pow($scale, -1) * 1rem;
  }
}

@media (max-width: 900px) {
  @include headers(1.33);
}

@media (min-width: 901px) {
  @include headers(1.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings-font();
  margin: 0.5rem 0;
  text-transform: lowercase;
}

header {
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: $text-color-2;
}

header,
footer {
  text-align: center;
}

// Other elements

a {
  color: $text-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

b {
  font-weight: 700;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
}

hr {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid gray;
  height: 1px;
}

img {
  display: block;
}

nav,
pre,
section {
  margin: 1rem 0;
}

@media (max-width: 600px) {
  nav {
    text-align: center;
  }
}

ol,
ul {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

table {
  margin: 0 auto;
  width: 100%;
}

thead {
  background-color: $background-color-3;
  text-align: center;
}

tbody {
  text-align: left;
}

th,
td {
  padding: 4px 8px;
}

tr:nth-child(even) {
  background-color: $background-color-2;
}

/* Generic classes */

.hidden {
  display: none !important;
}

.note {
  color: $text-color-2;
  font-style: italic;
}

// Placeholder text
.album-no-cover-note {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

/* Photo wall */
.photo-wall {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
}

.photo-wall-item {
  width: math.div(100%, 5);

  @media (min-width: 901px) and (max-width: 1500px) {
    width: math.div(100%, 8);
  }
  @media (min-width: 1501px) {
    width: math.div(100%, 10);
  }

  filter: brightness(1);

  &:hover {
    filter: brightness(0.6);
  }

  &,
  &:hover {
    transition: filter 0.2s ease-in-out;
  }

  img {
    width: 100%;
  }
}
